# **Objective:**     
The objective of this session is to refresh our basic Python skills by calculating some simple summary statistics for data in a CSV file, this time using a customized Python class object.

### The Scenario

You are working on a research project that is trying to assess the
impact of wind-related disasters in terms of human deaths and property
damage.  You have been given a comma separated value (CSV) file from the 
EM-DAT: The OFDA/CRED International Disaster Database
(Data version: v06.01, Created on: Feb-7-2006), downloaded 
from the website http://www.em-dat.net, and in the form of 
the file ``wind_disasters.csv``.

### The Overall Objective

*For a specified range of years*, you need to answer the following simple questions.
* How many disasters were there in each year?
* What were the total number of deaths in each year from wind-related disasters?
* What was the aggregate damage in each year from wind-related disasters?
* What was the maximum number of deaths from a single disaster in each year?
* What was the maximum amount of  damage from a single disaster in each year?

Working with your research colleagues, you have decided to 
write a simple Python program that will help you answer these questions.

### The Computational Task

As you know, computation is the transformation from input to output.  So let's get our inputs and outputs specified.

#### Inputs:
* ``input_filename`` = the name of the file to read in (example: ``wind_disasters.csv``)
* ``start_year`` = the first year to consider in the analysis (example: ``1955``)
* ``end_year`` = the last year to consider in the analysis (example: ``1960``)

#### Outputs:
We need to open the specified file, read it line-by-line, and calculate the
following summary statistics *for each year* in the range of years under consideration:
* ``num_disasters`` = the total number of disasters that year
* ``total_deaths`` = the total number of deaths across all disasters that year
* ``total_damage`` = the total damage across all disasters that year
* ``max_deaths`` = the largest number of casualties in a single disaster that year
* ``max_cost`` = the largest amount of damage in a single disaster that year

Our output should have a single line for each year in the specified range (in order!) with the following data:
```
YYYY, num_disasters, total_deaths, total_damage, max_deaths, max_cost
```

For example, running with parameters: 
```
wind_disasters.csv, 1955, 1960
```

should yield output containing the following data:
```
1955,19,3895,877000,1500,832000
1956,14,3114,0,2000,0
1957,9,1139,150000,390,150000
1958,13,2620,0,1175,0
1959,16,9695,672200,5098,600000
1960,20,9164,454041,5149,387000
```

Okay, this type of thing sounds pretty familiar.  This task is a good candidate for a function.  

Specifically, let's write a function called ``parse_disasters()`` that does the following:
* open the file, read line-by-line, and parse its text...
We can add more functionality later

In [10]:
def calc_disasters(infile,start_year,end_year,isVerbose = True):
    '''function to calculate summary disaster statistics in range [start_year,end_year]
       for data in given filename.'''

    if isVerbose:
        print("Calculating statistics in file %s for range [%d,%d]." % 
              (infile, start_year, end_year))

    # open the file and get a "handle" on it
    file = open(infile, "r")

    # index to identify the first line or first apparence of a year
    i=0

    # looping throught the whole file once
    counter = 3
    for line in file:

        # remove the special characters
        line = line.strip()  # string method that removes whitespace and special chars

        # skip any line with first character # 
        if line[0] == '#':
            continue

        # parse by comma
        values = line.split(',')

        # give all tokens names to work with
        # type          - the type of disaster  -->typ
        # event_name    - the name of the disaster (if it exists)
        # num_killed    - the number of fatalities
        # damage        - total damage (in adjusted USD)
        # start_year    - year in which the disaster began  ---> year
        # start_month   - month in which the disaster began
        # start_day     - day of month on which the disaster began
        # iso           - three-letter country code
        # country_name  - full name
        # region        - global region
        # continent     - continent
        try:
            # Col 1
            typ = values[0].strip()             # strip() removes leading/trailing blanks
            if len(typ)==0:
                typ = 'NA'
            else:
                typ = typ
            
            # Col 2 
            event_name = values[1].strip()
            if len(event_name) == 0:
                event_name = 'NA'
            else:
                event_name = values[1].strip()
            
            # Col 3
            num_killed = int(values[2])
            if num_killed == '':
                num_killed = 'NA'
            else:
                num_killed = num_killed 
                
            # Col 4
            damage = int(values[3])
            if damage == '':
                damage = 'NA'
            else:
                damage = damage
            
            #Col 5
            year = int(values[4])
            if year == '':
                year = 'NA'
            else:
                year = year
            
            #Col 6
            start_month = int(values[5])
            if start_month == '':
                start_month = 'NA'
            else:
                start_month = start_month
                
            # Col 7
            start_day = int(values[6])
            if start_day == '':
                start_day = 'NA'
            else:
                start_day = start_day
                
            # Col 8
            iso = values[7].strip()
            if len(iso) == 0:
                iso = 'NA'
            else:
                iso = iso
                
            # Col 9
            country_name = values[8].strip()
            if len(country_name) == 0:
                country_name = 'NA'
            else:
                country_name = country_name
                
            # Col 10
            region = values[9].strip()
            if len(region) == 0:
                region = 'NA'
            else:
                region = region
                
            # Col 11
            continent = values[10].strip()
            if len(continent) == 0:
                continent = 'NA'
            else:
                continent = continent
        
        except ValueError:
             # Col 1
#             typ = values[0].strip()             # strip() removes leading/trailing blanks
            if len(typ)==0:
                typ = 'NA'
            else:
                typ = typ
            
            # Col 2 
#             event_name = values[1].strip()
            if len(event_name) == 0:
                event_name = 'NA'
            else:
                event_name = values[1].strip()
            
            # Col 3
            num_killed = (values[2])
            print(num_killed)
            if num_killed == '':
                num_killed = 'NA'
            else:
                num_killed = num_killed 
                
            # Col 4
            damage = (values[3])
            if damage == '':
                damage = 'NA'
            else:
                damage = damage
            
            #Col 5
#             year = (values[4])
            if year == '':
                year = 'NA'
            else:
                year = year
            
            #Col 6
            start_month = (values[5])
            if start_month == '':
                start_month = 'NA'
            else:
                start_month = start_month
                
            # Col 7
            start_day = (values[6])
            if start_day == '':
                start_day = 'NA'
            else:
                start_day = start_day
                
            # Col 8
            iso = values[7].strip()
            if len(iso) == 0:
                iso = 'NA'
            else:
                iso = iso
                
            # Col 9
            country_name = values[8].strip()
            if len(country_name) == 0:
                country_name = 'NA'
            else:
                country_name = country_name
                
            # Col 10
            region = values[9].strip()
            if len(region) == 0:
                region = 'NA'
            else:
                region = region
                
            # Col 11
            continent = values[10].strip()
            if len(continent) == 0:
                continent = 'NA'
            else:
                continent = continent
            
        counter += 1
        if isVerbose:
            print('Row:%d, Read... Event Type: %s, Event Name: %s:'% 
                  (counter, typ,event_name), (num_killed,damage,year))

In [11]:
calc_disasters('wind_disasters.csv',1955,1960)

Calculating statistics in file wind_disasters.csv for range [1955,1960].
Row:4, Read... Event Type: Storm, Event Name: NA: (10, 0, 1993)
Row:5, Read... Event Type: Winter, Event Name: NA: (260, 0, 2005)
Row:6, Read... Event Type: Winter, Event Name: NA: (6, 0, 2002)
Row:7, Read... Event Type: Winter, Event Name: NA: (2, 0, 2005)
Row:8, Read... Event Type: Storm, Event Name: NA: (0, 0, 1988)
Row:9, Read... Event Type: Storm, Event Name: NA: (4, 0, 2000)
Row:10, Read... Event Type: Winter, Event Name: NA: (13, 0, 2003)
Row:11, Read... Event Type: Winter, Event Name: NA: (10, 0, 2005)
Row:12, Read... Event Type: Cyclone, Event Name: NA: (90, 0, 1966)
Row:13, Read... Event Type: Cyclone, Event Name: Gina: (0, 5000, 1989)
Row:14, Read... Event Type: Cyclone, Event Name: Heta: (0, 150000, 2004)
Row:15, Read... Event Type: Cyclone, Event Name: Olaf: (0, 0, 2005)
Row:16, Read... Event Type: Hurricane, Event Name: Alice: (0, 0, 1955)
Row:17, Read... Event Type: Hurricane, Event Name: Donna: (5, 35000, 1960)
Row:18, Read... Event Type: Hurricane, Event Name: Frederic: (0, 0, 1979)
Row:19, Read... Event Type: Tornado, Event Name: NA: (0, 160, 1983)
Row:20, Read... Event Type: Hurricane, Event Name: Klaus: (0, 2115, 1984)
Row:21, Read... Event Type: Hurricane, Event Name: Lenny: (0, 50, 1999)
Row:22, Read... Event Type: Hurricane, Event Name: Dog: (2, 1000, 1950)
Row:23, Read... Event Type: Hurricane, Event Name: Donna: (2, 0, 1960)
Row:24, Read... Event Type: Hurricane, Event Name: Inez: (0, 0, 1966)
Row:25, Read... Event Type: Hurricane, Event Name: Hugo: (2, 80000, 1989)
Row:26, Read... Event Type: Hurricane, Event Name: Gustav: (0, 0, 1990)
Row:27, Read... Event Type: Hurricane, Event Name: Luis: (2, 300000, 1995)
Row:28, Read... Event Type: Hurricane, Event Name: Georges: (2, 60000, 1998)
Row:29, Read... Event Type: Hurricane, Event Name: Jose: (1, 0, 1999)
Row:30, Read... Event Type: Hurricane, Event Name: Lenny: (0, 0, 1999)
Row:31, Read... Event Type: Tornado, Event Name: NA: (60, 0, 1973)
Row:32, Read... Event Type: Storm, Event Name: NA: (100, 0, 1974)
Row:33, Read... Event Type: Storm, Event Name: NA: (20, 0, 1975)
Row:34, Read... Event Type: Storm, Event Name: NA: (5, 0, 1978)
Row:35, Read... Event Type: Tornado, Event Name: NA: (1, 0, 1986)
Row:36, Read... Event Type: Storm, Event Name: NA: (1, 10000, 1987)
Row:37, Read... Event Type: Storm, Event Name: NA: (15, 50000, 1993)
Row:38, Read... Event Type: Storm, Event Name: NA: (6, 0, 1995)
Row:39, Read... Event Type: Storm, Event Name: NA: (0, 0, 1998)
Row:40, Read... Event Type: Winter, Event Name: NA: (0, 0, 2000)
Row:41, Read... Event Type: Storm, Event Name: NA: (1, 0, 2000)
Row:42, Read... Event Type: Storm, Event Name: NA: (4, 0, 2001)
Row:43, Read... Event Type: Storm, Event Name: NA: (16, 15000, 2001)
Row:44, Read... Event Type: Storm, Event Name: NA: (3, 0, 2002)
Row:45, Read... Event Type: Storm, Event Name: NA: (12, 0, 2003)
Row:46, Read... Event Type: Storm, Event Name: NA: (11, 0, 2005)
Row:47, Read... Event Type: Cyclone, Event Name: Ada: (13, 72475, 1970)
Row:48, Read... Event Type: Cyclone, Event Name: Althea: (3, 119219, 1971)
Row:49, Read... Event Type: Cyclone, Event Name: Tracy: (65, 800000, 1974)
Row:50, Read... Event Type: Cyclone, Event Name: Wanda: (11, 296717, 1974)
Row:51, Read... Event Type: Cyclone, Event Name: Joan: (0, 63861, 1975)
Row:52, Read... Event Type: Storm, Event Name: NA: (0, 13037, 1976)
Row:53, Read... Event Type: Tornado, Event Name: NA: (0, 7279, 1976)
Row:54, Read... Event Type: Storm, Event Name: NA: (0, 38024, 1976)
Row:55, Read... Event Type: Cyclone, Event Name: David: (0, 4237, 1976)
Row:56, Read... Event Type: Cyclone, Event Name: Beth: (0, 8257, 1976)
Row:57, Read... Event Type: Cyclone, Event Name: Ted: (0, 36177, 1976)
Row:58, Read... Event Type: Storm, Event Name: NA: (0, 38680, 1977)
Row:59, Read... Event Type: Storm, Event Name: NA: (0, 10269, 1977)
Row:60, Read... Event Type: Cyclone, Event Name: Alby: (5, 1000000, 1978)
Row:61, Read... Event Type: Storm, Event Name: NA: (0, 3797, 1978)
Row:62, Read... Event Type: Storm, Event Name: NA: (0, 35090, 1978)
Row:63, Read... Event Type: Storm, Event Name: NA: (0, 11620, 1978)
Row:64, Read... Event Type: Storm, Event Name: NA: (0, 16107, 1978)
Row:65, Read... Event Type: Cyclone, Event Name: Hazel: (15, 31286, 1979)
Row:66, Read... Event Type: Storm, Event Name: NA: (0, 18683, 1979)
Row:67, Read... Event Type: Cyclone, Event Name: Amy: (0, 6966, 1980)
Row:68, Read... Event Type: Cyclone, Event Name: Dean: (0, 40026, 1980)
Row:69, Read... Event Type: Cyclone, Event Name: Enid: (0, 4605, 1980)
Row:70, Read... Event Type: Cyclone, Event Name: NA: (0, 13932, 1980)
Row:71, Read... Event Type: Storm, Event Name: NA: (0, 29399, 1980)
Row:72, Read... Event Type: Storm, Event Name: NA: (0, 7895, 1981)
Row:73, Read... Event Type: Cyclone, Event Name: Dominic: (1, 6864, 1982)
Row:74, Read... Event Type: Storm, Event Name: NA: (0, 12454, 1982)
Row:75, Read... Event Type: Storm, Event Name: NA: (0, 11767, 1982)
Row:76, Read... Event Type: Storm, Event Name: NA: (0, 1984, 1983)
Row:77, Read... Event Type: Storm, Event Name: NA: (0, 2255, 1983)
Row:78, Read... Event Type: Storm, Event Name: NA: (0, 5773, 1983)
Row:79, Read... Event Type: Storm, Event Name: NA: (27, 122000, 1985)
Row:80, Read... Event Type: Storm, Event Name: NA: (0, 7255, 1985)
Row:81, Read... Event Type: Cyclone, Event Name: Winifred: (3, 70000, 1986)
Row:82, Read... Event Type: Storm, Event Name: NA: (0, 51000, 1986)
Row:83, Read... Event Type: Storm, Event Name: NA: (0, 5778, 1986)
Row:84, Read... Event Type: Storm, Event Name: NA: (4, 68055, 1986)
Row:85, Read... Event Type: Storm, Event Name: NA: (0, 6806, 1986)
Row:86, Read... Event Type: Cyclone, Event Name: Charlie: (1, 20417, 1988)
Row:87, Read... Event Type: Cyclone, Event Name: Aivu: (2, 94300, 1989)
Row:88, Read... Event Type: Cyclone, Event Name: Orson: (2, 13611, 1989)
Row:89, Read... Event Type: Storm, Event Name: NA: (0, 275000, 1990)
Row:90, Read... Event Type: Cyclone, Event Name: Joy: (0, 155600, 1990)
Row:91, Read... Event Type: Storm, Event Name: NA: (0, 0, 1991)
Row:92, Read... Event Type: Storm, Event Name: NA: (0, 1560, 1991)
Row:93, Read... Event Type: Storm, Event Name: NA: (0, 103100, 1992)
Row:94, Read... Event Type: Storm, Event Name: NA: (2, 274900, 1992)
Row:95, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1993)
Row:96, Read... Event Type: Storm, Event Name: NA: (0, 0, 1993)
Row:97, Read... Event Type: Storm, Event Name: NA: (2, 77600, 1994)
Row:98, Read... Event Type: Storm, Event Name: Hurricane: (22, 0, 1994)
Row:99, Read... Event Type: Storm, Event Name: NA: (1, 0, 1994)
Row:100, Read... Event Type: Storm, Event Name: NA: (2, 0, 1994)
Row:101, Read... Event Type: Cyclone, Event Name: Bobby: (7, 98000, 1995)
Row:102, Read... Event Type: Tornado, Event Name: NA: (0, 18700, 1995)
Row:103, Read... Event Type: Storm, Event Name: NA: (1, 84000, 1995)
Row:104, Read... Event Type: Storm, Event Name: NA: (0, 28000, 1995)
Row:105, Read... Event Type: Storm, Event Name: NA: (6, 47000, 1996)
Row:106, Read... Event Type: Storm, Event Name: NA: (0, 9333, 1996)
Row:107, Read... Event Type: Storm, Event Name: NA: (0, 39200, 1996)
Row:108, Read... Event Type: Cyclone, Event Name: Olivia: (0, 46700, 1996)
Row:109, Read... Event Type: Storm, Event Name: NA: (0, 317300, 1996)
Row:110, Read... Event Type: Storm, Event Name: NA: (1, 140000, 1996)
Row:111, Read... Event Type: Cyclone, Event Name: Rona: (5, 12547, 1999)
Row:112, Read... Event Type: Cyclone, Event Name: Vance: (1, 200000, 1999)
Row:113, Read... Event Type: Storm, Event Name: NA: (1, 640000, 1999)
Row:114, Read... Event Type: Cyclone, Event Name: Steve: (1, 90000, 2000)
Row:115, Read... Event Type: Cyclone, Event Name: Tessi: (0, 60000, 2000)
Row:116, Read... Event Type: Cyclone, Event Name: Sam: (0, 0, 2000)
Row:117, Read... Event Type: Storm, Event Name: NA: (1, 6600, 2001)
Row:118, Read... Event Type: Storm, Event Name: NA: (1, 0, 2001)
Row:119, Read... Event Type: Storm, Event Name: NA: (0, 0, 2001)
Row:120, Read... Event Type: Storm, Event Name: NA: (0, 0, 2002)
Row:121, Read... Event Type: Storm, Event Name: NA: (0, 0, 2002)
Row:122, Read... Event Type: Storm, Event Name: NA: (0, 0, 2002)
Row:123, Read... Event Type: Storm, Event Name: NA: (1, 0, 2003)
Row:124, Read... Event Type: Tornado, Event Name: NA: (0, 0, 2003)
Row:125, Read... Event Type: Storm, Event Name: Hailstorm: (0, 0, 2003)
Row:126, Read... Event Type: Storm, Event Name: NA: (0, 93000, 2003)
Row:127, Read... Event Type: Storm, Event Name: NA: (0, 0, 2003)
Row:128, Read... Event Type: Winter, Event Name: NA: (0, 0, 2004)
Row:129, Read... Event Type: Storm, Event Name: NA: (2, 10000, 2004)
Row:130, Read... Event Type: Storm, Event Name: NA: (1, 50000, 2004)
Row:131, Read... Event Type: Storm, Event Name: NA: (0, 27000, 2005)
Row:132, Read... Event Type: Storm, Event Name: NA: (3, 7000, 2005)
Row:133, Read... Event Type: Storm, Event Name: NA: (1, 15000, 2005)
Row:134, Read... Event Type: Winter, Event Name: NA: (0, 0, 1976)
Row:135, Read... Event Type: Winter, Event Name: NA: (0, 0, 1981)
Row:136, Read... Event Type: Storm, Event Name: NA: (12, 200000, 1984)
Row:137, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:138, Read... Event Type: Storm, Event Name: NA: (0, 37700, 1990)
Row:139, Read... Event Type: Winter, Event Name: Daria: (3, 238700, 1990)
Row:140, Read... Event Type: Storm, Event Name: NA: (0, 28000, 1991)
Row:141, Read... Event Type: Storm, Event Name: NA: (0, 35210, 2000)
Row:142, Read... Event Type: Storm, Event Name: NA: (2, 0, 2002)
Row:143, Read... Event Type: Storm, Event Name: NA: (1, 0, 2002)
Row:144, Read... Event Type: Hurricane, Event Name: NA: (27, 0, 1946)
Row:145, Read... Event Type: Storm, Event Name: NA: (0, 66000, 1996)
Row:146, Read... Event Type: Hurricane, Event Name: NA: (0, 0, 1926)
Row:147, Read... Event Type: Hurricane, Event Name: NA: (0, 0, 1929)
Row:148, Read... Event Type: Hurricane, Event Name: NA: (14, 0, 1935)
Row:149, Read... Event Type: Hurricane, Event Name: NA: (22, 0, 1945)
Row:150, Read... Event Type: Hurricane, Event Name: Flora: (0, 1500, 1963)
Row:151, Read... Event Type: Hurricane, Event Name: Betsy: (0, 700, 1965)
Row:152, Read... Event Type: Hurricane, Event Name: Inez: (5, 15500, 1966)
Row:153, Read... Event Type: Hurricane, Event Name: Inez: (0, 0, 1966)
Row:154, Read... Event Type: Tropical storm, Event Name: Arthur: (0, 0, 1990)
Row:155, Read... Event Type: Hurricane, Event Name: Andrew: (4, 250000, 1992)
Row:156, Read... Event Type: Hurricane, Event Name: Floyd: (1, 0, 1999)
Row:157, Read... Event Type: Hurricane, Event Name: Michelle: (0, 250000, 2001)
Row:158, Read... Event Type: Hurricane, Event Name: Frances: (2, 0, 2004)
Row:159, Read... Event Type: Hurricane, Event Name: Jeanne: (0, 0, 2004)
Row:160, Read... Event Type: Hurricane, Event Name: Wilma: (0, 0, 2005)
Row:161, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1904)
Row:162, Read... Event Type: Cyclone, Event Name: NA: (172, 0, 1909)
Row:163, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1909)
Row:164, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1911)
Row:165, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1919)
Row:166, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1922)
Row:167, Read... Event Type: Cyclone, Event Name: NA: (6, 0, 1923)
Row:168, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1926)
Row:169, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1937)
Row:170, Read... Event Type: Cyclone, Event Name: NA: (5000, 0, 1941)
Row:171, Read... Event Type: Cyclone, Event Name: NA: (61000, 0, 1942)
Row:172, Read... Event Type: Cyclone, Event Name: NA: (500, 0, 1947)
Row:173, Read... Event Type: Storm, Event Name: NA: (200, 0, 1951)
Row:174, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1958)
Row:175, Read... Event Type: Cyclone, Event Name: NA: (500, 0, 1958)
Row:176, Read... Event Type: Cyclone, Event Name: NA: (3000, 0, 1960)
Row:177, Read... Event Type: Cyclone, Event Name: NA: (5149, 0, 1960)
Row:178, Read... Event Type: Cyclone, Event Name: NA: (11000, 11900, 1961)
Row:179, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1961)
Row:180, Read... Event Type: Storm, Event Name: NA: (266, 0, 1961)
Row:181, Read... Event Type: Cyclone, Event Name: NA: (11500, 46500, 1963)
Row:182, Read... Event Type: Cyclone, Event Name: NA: (79, 0, 1963)
Row:183, Read... Event Type: Cyclone, Event Name: NA: (300, 250, 1964)
Row:184, Read... Event Type: Cyclone, Event Name: NA: (36000, 57700, 1965)
Row:185, Read... Event Type: Cyclone, Event Name: NA: (12047, 0, 1965)
Row:186, Read... Event Type: Cyclone, Event Name: NA: (874, 0, 1965)
Row:187, Read... Event Type: Cyclone, Event Name: NA: (850, 22400, 1966)
Row:188, Read... Event Type: Cyclone, Event Name: NA: (50, 0, 1967)
Row:189, Read... Event Type: Cyclone, Event Name: NA: (41, 0, 1967)
Row:190, Read... Event Type: Cyclone, Event Name: NA: (118, 1500, 1968)
Row:191, Read... Event Type: Cyclone, Event Name: NA: (849, 8329, 1969)
Row:192, Read... Event Type: Storm, Event Name: NA: (17, 0, 1970)
Row:193, Read... Event Type: Storm, Event Name: NA: (300, 0, 1970)
Row:194, Read... Event Type: Cyclone, Event Name: NA: (300000, 86400, 1970)
Row:195, Read... Event Type: Cyclone, Event Name: NA: (163, 0, 1971)
Row:196, Read... Event Type: Tornado, Event Name: NA: (200, 0, 1972)
Row:197, Read... Event Type: Storm, Event Name: NA: (200, 0, 1973)
Row:198, Read... Event Type: Cyclone, Event Name: NA: (1000, 0, 1973)
Row:199, Read... Event Type: Storm, Event Name: NA: (700, 0, 1973)
Row:200, Read... Event Type: Cyclone, Event Name: NA: (2500, 0, 1974)
Row:201, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1974)
Row:202, Read... Event Type: Storm, Event Name: NA: (300, 0, 1974)
Row:203, Read... Event Type: Tornado, Event Name: NA: (46, 0, 1976)
Row:204, Read... Event Type: Tornado, Event Name: NA: (1, 201, 1976)
Row:205, Read... Event Type: Storm, Event Name: NA: (600, 50000, 1977)
Row:206, Read... Event Type: Cyclone, Event Name: NA: (13, 0, 1977)
Row:207, Read... Event Type: Tornado, Event Name: NA: (21, 0, 1977)
Row:208, Read... Event Type: Storm, Event Name: NA: (1000, 0, 1978)
Row:209, Read... Event Type: Storm, Event Name: NA: (30, 0, 1978)
Row:210, Read... Event Type: Cyclone, Event Name: NA: (3, 0, 1979)
Row:211, Read... Event Type: Cyclone, Event Name: NA: (50, 0, 1979)
Row:212, Read... Event Type: Cyclone, Event Name: NA: (11, 0, 1980)
Row:213, Read... Event Type: Tornado, Event Name: NA: (70, 0, 1981)
Row:214, Read... Event Type: Cyclone, Event Name: NA: (1000, 0, 1981)
Row:215, Read... Event Type: Cyclone, Event Name: NA: (15, 0, 1981)
Row:216, Read... Event Type: Cyclone, Event Name: NA: (6, 0, 1983)
Row:217, Read... Event Type: Tornado, Event Name: NA: (12, 0, 1983)
Row:218, Read... Event Type: Cyclone, Event Name: NA: (600, 0, 1983)
Row:219, Read... Event Type: Cyclone, Event Name: NA: (67, 0, 1983)
Row:220, Read... Event Type: Storm, Event Name: NA: (50, 0, 1985)
Row:221, Read... Event Type: Cyclone, Event Name: NA: (10000, 0, 1985)
Row:222, Read... Event Type: Storm, Event Name: NA: (71, 0, 1985)
Row:223, Read... Event Type: Storm, Event Name: NA: (100, 0, 1986)
Row:224, Read... Event Type: Tropical storm, Event Name: NA: (40, 0, 1986)
Row:225, Read... Event Type: Cyclone, Event Name: NA: (25, 0, 1986)
Row:226, Read... Event Type: Storm, Event Name: NA: (19, 0, 1986)
Row:227, Read... Event Type: Cyclone, Event Name: NA: (12, 0, 1987)
Row:228, Read... Event Type: Storm, Event Name: NA: (28, 0, 1988)
Row:229, Read... Event Type: Storm, Event Name: NA: (5, 0, 1988)
Row:230, Read... Event Type: Cyclone, Event Name: NA: (31, 0, 1988)
Row:231, Read... Event Type: Cyclone, Event Name: NA: (1000, 0, 1988)
Row:232, Read... Event Type: Tornado, Event Name: NA: (800, 16200, 1989)
Row:233, Read... Event Type: Cyclone, Event Name: NA: (15, 0, 1989)
Row:234, Read... Event Type: Tornado, Event Name: NA: (19, 0, 1990)
Row:235, Read... Event Type: Tornado, Event Name: NA: (54, 0, 1990)
Row:236, Read... Event Type: Storm, Event Name: NA: (250, 0, 1990)
Row:237, Read... Event Type: Cyclone, Event Name: Ofa: (370, 0, 1990)
Row:238, Read... Event Type: Cyclone, Event Name: Gorky: (138866, 1780000, 1991)
Row:239, Read... Event Type: Tornado, Event Name: NA: (121, 0, 1991)
Row:240, Read... Event Type: Storm, Event Name: NA: (7, 0, 1992)
Row:241, Read... Event Type: Storm, Event Name: NA: (16, 0, 1992)
Row:242, Read... Event Type: Storm, Event Name: NA: (31, 0, 1993)
Row:243, Read... Event Type: Cyclone, Event Name: NA: (14, 0, 1993)
Row:244, Read... Event Type: Storm, Event Name: NA: (8, 0, 1993)
Row:245, Read... Event Type: Storm, Event Name: NA: (300, 0, 1993)
Row:246, Read... Event Type: Storm, Event Name: NA: (9, 0, 1993)
Row:247, Read... Event Type: Storm, Event Name: NA: (25, 0, 1993)
Row:248, Read... Event Type: Cyclone, Event Name: NA: (50, 0, 1993)
Row:249, Read... Event Type: Storm, Event Name: NA: (15, 0, 1993)
Row:250, Read... Event Type: Cyclone, Event Name: NA: (130, 125000, 1994)
Row:251, Read... Event Type: Cyclone, Event Name: NA: (40, 2500, 1994)
Row:252, Read... Event Type: Storm, Event Name: NA: (20, 0, 1994)
Row:253, Read... Event Type: Storm, Event Name: NA: (15, 0, 1994)
Row:254, Read... Event Type: Storm, Event Name: NA: (69, 0, 1995)
Row:255, Read... Event Type: Tornado, Event Name: NA: (6, 0, 1995)
Row:256, Read... Event Type: Storm, Event Name: NA: (525, 800000, 1995)
Row:257, Read... Event Type: Cyclone, Event Name: NA: (172, 0, 1995)
Row:258, Read... Event Type: Storm, Event Name: NA: (525, 0, 1996)
Row:259, Read... Event Type: Storm, Event Name: NA: (60, 0, 1996)
Row:260, Read... Event Type: Storm, Event Name: NA: (17, 0, 1996)
Row:261, Read... Event Type: Cyclone, Event Name: NA: (24, 0, 1996)
Row:262, Read... Event Type: Cyclone, Event Name: One Bravo (01B): (111, 0, 1997)
Row:263, Read... Event Type: Cyclone, Event Name: Two B: (188, 0, 1997)
Row:264, Read... Event Type: Tornado, Event Name: NA: (15, 0, 1997)
Row:265, Read... Event Type: Storm, Event Name: NA: (11, 0, 1997)
Row:266, Read... Event Type: Storm, Event Name: NA: (100, 0, 1997)
Row:267, Read... Event Type: Storm, Event Name: NA: (14, 0, 1998)
Row:268, Read... Event Type: Cyclone, Event Name: 01B: (19, 0, 1998)
Row:269, Read... Event Type: Cyclone, Event Name: 07B: (200, 0, 1998)
Row:270, Read... Event Type: Storm, Event Name: NA: (28, 0, 1998)
Row:271, Read... Event Type: Storm, Event Name: NA: (60, 0, 1998)
Row:272, Read... Event Type: Storm, Event Name: NA: (7, 0, 1999)
Row:273, Read... Event Type: Tornado, Event Name: NA: (2, 0, 1999)
Row:274, Read... Event Type: Storm, Event Name: NA: (3, 0, 1999)
Row:275, Read... Event Type: Cyclone, Event Name: 05B: (0, 0, 1999)
Row:276, Read... Event Type: Storm, Event Name: NA: (66, 0, 1999)
Row:277, Read... Event Type: Tornado, Event Name: NA: (0, 0, 2000)
Row:278, Read... Event Type: Tropical storm, Event Name: NA: (20, 0, 2000)
Row:279, Read... Event Type: Storm, Event Name: NA: (0, 0, 2000)
Row:280, Read... Event Type: Storm, Event Name: NA: (36, 0, 2000)
Row:281, Read... Event Type: Storm, Event Name: NA: (28, 0, 2000)
Row:282, Read... Event Type: Tornado, Event Name: NA: (0, 0, 2000)
Row:283, Read... Event Type: Cyclone, Event Name: NA: (15, 0, 2000)
Row:284, Read... Event Type: Storm, Event Name: NA: (12, 0, 2001)
Row:285, Read... Event Type: Storm, Event Name: NA: (193, 0, 2001)
Row:286, Read... Event Type: Storm, Event Name: NA: (21, 0, 2001)
Row:287, Read... Event Type: Tornado, Event Name: NA: (12, 0, 2001)
Row:288, Read... Event Type: Storm, Event Name: NA: (32, 0, 2002)
Row:289, Read... Event Type: Tropical storm, Event Name: NA: (31, 0, 2002)
Row:290, Read... Event Type: Storm, Event Name: NA: (10, 0, 2002)
Row:291, Read... Event Type: Cyclone, Event Name: NA: (49, 0, 2002)
Row:292, Read... Event Type: Storm, Event Name: NA: (9, 0, 2003)

Row:849, Read... Event Type: Hurricane, Event Name: Ivan: (3, 0, 2004)
Row:850, Read... Event Type: Hurricane, Event Name: Jeanne: (2754, 21000, 2004)
Row:851, Read... Event Type: Hurricane, Event Name: Dennis: (40, 0, 2005)
Row:852, Read... Event Type: Hurricane, Event Name: Emily: (6, 0, 2005)
Row:853, Read... Event Type: Hurricane, Event Name: Stan: (1, 0, 2005)
Row:854, Read... Event Type: Hurricane, Event Name: Wilma: (5, 0, 2005)
Row:855, Read... Event Type: Tropical storm, Event Name: Alpha: (17, 0, 2005)
Row:856, Read... Event Type: Hurricane, Event Name: NA: (1500, 0, 1931)
Row:857, Read... Event Type: Hurricane, Event Name: NA: (275, 0, 1961)
Row:858, Read... Event Type: Hurricane, Event Name: Francelia: (0, 19000, 1969)
Row:859, Read... Event Type: Hurricane, Event Name: NA: (0, 0, 1971)
Row:860, Read... Event Type: Hurricane, Event Name: Fifi: (8000, 540000, 1974)
Row:861, Read... Event Type: Hurricane, Event Name: Greta: (0, 1000, 1978)
Row:862, Read... Event Type: Tropical storm, Event Name: Alleta: (130, 101000, 1982)
Row:863, Read... Event Type: Hurricane, Event Name: Joan: (0, 0, 1988)
Row:864, Read... Event Type: Hurricane, Event Name: Allison: (18, 0, 1995)
Row:865, Read... Event Type: Hurricane, Event Name: Mitch: (14600, 3793600, 1998)
Row:866, Read... Event Type: Hurricane, Event Name: Michelle: (21, 0, 2001)
Row:867, Read... Event Type: Hurricane, Event Name: Stan: (6, 0, 2005)
Row:868, Read... Event Type: Hurricane, Event Name: Wilma: (0, 0, 2005)
Row:869, Read... Event Type: Hurricane, Event Name: Beta: (0, 0, 2005)
Row:870, Read... Event Type: Tropical storm, Event Name: Gamma: (47, 0, 2005)
Row:871, Read... Event Type: Typhoon, Event Name: NA: (10000, 20000, 1906)
Row:872, Read... Event Type: Typhoon, Event Name: NA: (100, 0, 1923)
Row:873, Read... Event Type: Typhoon, Event Name: NA: (11000, 0, 1937)
Row:874, Read... Event Type: Typhoon, Event Name: NA: (2000, 0, 1947)
Row:875, Read... Event Type: Typhoon, Event Name: Gloria: (8, 0, 1957)
Row:876, Read... Event Type: Storm, Event Name: NA: (43, 0, 1959)
Row:877, Read... Event Type: Typhoon, Event Name: Mary: (45, 0, 1960)
Row:878, Read... Event Type: Tropical storm, Event Name: Olga: (7, 0, 1961)
Row:879, Read... Event Type: Typhoon, Event Name: Wanda: (183, 0, 1962)
Row:880, Read... Event Type: Typhoon, Event Name: Ruby: (44, 0, 1964)
Row:881, Read... Event Type: Typhoon, Event Name: Dot: (26, 0, 1964)
Row:882, Read... Event Type: Tropical storm, Event Name: Agnes: (5, 0, 1965)
Row:883, Read... Event Type: Storm, Event Name: NA: (15, 0, 1966)
Row:884, Read... Event Type: Tropical storm, Event Name: Kate: (0, 0, 1967)
Row:885, Read... Event Type: Typhoon, Event Name: Shirley: (0, 0, 1968)
Row:886, Read... Event Type: Typhoon, Event Name: Viola: (0, 0, 1969)
Row:887, Read... Event Type: Typhoon, Event Name: Rose: (115, 0, 1971)
Row:888, Read... Event Type: Typhoon, Event Name: Dot: (1, 0, 1973)
Row:889, Read... Event Type: Typhoon, Event Name: Carmen: (1, 0, 1974)
Row:890, Read... Event Type: Typhoon, Event Name: Elaine: (0, 0, 1974)
Row:891, Read... Event Type: Storm, Event Name: NA: (0, 0, 1975)
Row:892, Read... Event Type: Typhoon, Event Name: Elsie: (0, 0, 1975)
Row:893, Read... Event Type: Typhoon, Event Name: Ruby: (5, 0, 1976)
Row:894, Read... Event Type: Tropical storm, Event Name: Violet: (3, 0, 1976)
Row:895, Read... Event Type: Typhoon, Event Name: Ellen: (30, 0, 1976)
Row:896, Read... Event Type: Tropical storm, Event Name: NA: (0, 0, 1977)
Row:897, Read... Event Type: Tropical storm, Event Name: Freda: (1, 0, 1977)
Row:898, Read... Event Type: Tropical storm, Event Name: Agnes: (3, 0, 1978)
Row:899, Read... Event Type: Tropical storm, Event Name: Elaine: (1, 0, 1978)
Row:900, Read... Event Type: Tropical storm, Event Name: Kit: (7, 0, 1978)
Row:901, Read... Event Type: Typhoon, Event Name: Hope: (12, 10000, 1979)
Row:902, Read... Event Type: Typhoon, Event Name: Mac: (1, 0, 1979)
Row:903, Read... Event Type: Storm, Event Name: NA: (0, 0, 1980)
Row:904, Read... Event Type: Typhoon, Event Name: Joe: (2, 0, 1980)
Row:905, Read... Event Type: Storm, Event Name: NA: (0, 0, 1981)
Row:906, Read... Event Type: Storm, Event Name: Dot: (5, 0, 1982)
Row:907, Read... Event Type: Typhoon, Event Name: Ellen: (22, 12544, 1983)
Row:908, Read... Event Type: Typhoon, Event Name: Joe: (0, 0, 1983)
Row:909, Read... Event Type: Typhoon, Event Name: Tess: (2, 42, 1985)
Row:910, Read... Event Type: Typhoon, Event Name: Peggy: (1, 0, 1986)
Row:911, Read... Event Type: Typhoon, Event Name: Wayne: (4, 0, 1986)
Row:912, Read... Event Type: Typhoon, Event Name: Ruby: (0, 0, 1988)
Row:913, Read... Event Type: Typhoon, Event Name: Brenda: (7, 0, 1989)
Row:914, Read... Event Type: Typhoon, Event Name: Gordon: (2, 67, 1989)
Row:915, Read... Event Type: Typhoon, Event Name: Fred: (22, 132000, 1991)
Row:916, Read... Event Type: Tropical storm, Event Name: Gari (Ditang): (0, 219700, 1992)
Row:917, Read... Event Type: Storm, Event Name: Faye: (2, 0, 1992)
Row:918, Read... Event Type: Typhoon, Event Name: Koryn: (4, 120, 1993)
Row:919, Read... Event Type: Storm, Event Name: Lewis: (0, 0, 1993)
Row:920, Read... Event Type: Typhoon, Event Name: Tasha: (0, 0, 1993)
Row:921, Read... Event Type: Storm, Event Name: Becky: (82, 140, 1993)
Row:922, Read... Event Type: Typhoon, Event Name: Dot: (1, 6000, 1993)
Row:923, Read... Event Type: Typhoon, Event Name: Ira: (2, 800, 1993)
Row:924, Read... Event Type: Typhoon, Event Name: York: (2, 0, 1999)
Row:925, Read... Event Type: Typhoon, Event Name: Imbudo: (0, 0, 2003)
Row:926, Read... Event Type: Typhoon, Event Name: Dujuan: (4, 0, 2003)
Row:927, Read... Event Type: Storm, Event Name: NA: (4, 0, 1984)
Row:928, Read... Event Type: Winter, Event Name: NA: (40, 0, 1999)
Row:929, Read... Event Type: Winter, Event Name: NA: (7, 0, 2003)
Row:930, Read... Event Type: Winter, Event Name: NA: (4, 0, 2005)
Row:931, Read... Event Type: Cyclone, Event Name: NA: (300, 0, 1916)
Row:932, Read... Event Type: Cyclone, Event Name: NA: (1242, 0, 1924)
Row:933, Read... Event Type: Cyclone, Event Name: NA: (80, 0, 1925)
Row:934, Read... Event Type: Cyclone, Event Name: NA: (56, 0, 1927)
Row:935, Read... Event Type: Cyclone, Event Name: NA: (629, 0, 1927)
Row:936, Read... Event Type: Storm, Event Name: NA: (100, 0, 1935)
Row:937, Read... Event Type: Cyclone, Event Name: NA: (60000, 0, 1935)
Row:938, Read... Event Type: Cyclone, Event Name: NA: (233, 0, 1936)
Row:939, Read... Event Type: Cyclone, Event Name: NA: (40000, 0, 1942)
Row:940, Read... Event Type: Cyclone, Event Name: NA: (5000, 0, 1943)
Row:941, Read... Event Type: Storm, Event Name: NA: (0, 0, 1943)
Row:942, Read... Event Type: Cyclone, Event Name: NA: (304, 0, 1944)
Row:943, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1945)
Row:944, Read... Event Type: Cyclone, Event Name: NA: (1000, 0, 1949)
Row:945, Read... Event Type: Storm, Event Name: NA: (90, 0, 1950)
Row:946, Read... Event Type: Cyclone, Event Name: NA: (400, 0, 1952)
Row:947, Read... Event Type: Storm, Event Name: NA: (350, 0, 1952)
Row:948, Read... Event Type: Cyclone, Event Name: NA: (1500, 0, 1955)
Row:949, Read... Event Type: Cyclone, Event Name: NA: (500, 0, 1955)
Row:950, Read... Event Type: Storm, Event Name: NA: (120, 0, 1955)
Row:951, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1956)
Row:952, Read... Event Type: Storm, Event Name: NA: (0, 0, 1958)
Row:953, Read... Event Type: Storm, Event Name: NA: (0, 0, 1962)
Row:954, Read... Event Type: Storm, Event Name: NA: (200, 0, 1963)
Row:955, Read... Event Type: Cyclone, Event Name: NA: (112, 0, 1963)
Row:956, Read... Event Type: Cyclone, Event Name: NA: (500, 0, 1964)
Row:957, Read... Event Type: Cyclone, Event Name: NA: (18, 4200, 1966)
Row:958, Read... Event Type: Cyclone, Event Name: NA: (1000, 0, 1967)
Row:959, Read... Event Type: Cyclone, Event Name: NA: (7, 0, 1968)
Row:960, Read... Event Type: Cyclone, Event Name: NA: (600, 8330, 1969)
Row:961, Read... Event Type: Storm, Event Name: NA: (15, 0, 1969)
Row:962, Read... Event Type: Storm, Event Name: NA: (0, 0, 1969)
Row:963, Read... Event Type: Cyclone, Event Name: NA: (200, 0, 1969)
Row:964, Read... Event Type: Storm, Event Name: NA: (0, 0, 1970)
Row:965, Read... Event Type: Cyclone, Event Name: NA: (9658, 30000, 1971)
Row:966, Read... Event Type: Cyclone, Event Name: NA: (60, 0, 1971)
Row:967, Read... Event Type: Cyclone, Event Name: NA: (100, 0, 1972)
Row:968, Read... Event Type: Storm, Event Name: NA: (50, 0, 1972)
Row:969, Read... Event Type: Cyclone, Event Name: NA: (80, 0, 1972)
Row:970, Read... Event Type: Cyclone, Event Name: NA: (20, 0, 1974)
Row:971, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1974)
Row:972, Read... Event Type: Storm, Event Name: NA: (450, 200000, 1975)
Row:973, Read... Event Type: Storm, Event Name: NA: (30, 0, 1975)
Row:974, Read... Event Type: Storm, Event Name: NA: (21, 0, 1975)
Row:975, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1975)
Row:976, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1975)
Row:977, Read... Event Type: Cyclone, Event Name: NA: (40, 0, 1976)
Row:978, Read... Event Type: Cyclone, Event Name: NA: (95, 260000, 1976)
Row:979, Read... Event Type: Cyclone, Event Name: NA: (87, 3378, 1976)
Row:980, Read... Event Type: Cyclone, Event Name: NA: (18, 0, 1976)
Row:981, Read... Event Type: Cyclone, Event Name: NA: (30, 3378, 1976)
Row:982, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1976)
Row:983, Read... Event Type: Cyclone, Event Name: NA: (14204, 498535, 1977)
Row:984, Read... Event Type: Cyclone, Event Name: NA: (2, 0, 1977)
Row:985, Read... Event Type: Tornado, Event Name: NA: (26, 0, 1978)
Row:986, Read... Event Type: Tornado, Event Name: NA: (500, 0, 1978)
Row:987, Read... Event Type: Tornado, Event Name: NA: (100, 0, 1978)
Row:988, Read... Event Type: Storm, Event Name: NA: (15, 0, 1978)
Row:989, Read... Event Type: Cyclone, Event Name: NA: (170, 0, 1978)
Row:990, Read... Event Type: Cyclone, Event Name: NA: (594, 12800, 1979)
Row:991, Read... Event Type: Storm, Event Name: NA: (125, 0, 1980)
Row:992, Read... Event Type: Cyclone, Event Name: NA: (28, 0, 1980)
Row:993, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1980)
Row:994, Read... Event Type: Tornado, Event Name: NA: (120, 0, 1981)
Row:995, Read... Event Type: Storm, Event Name: NA: (470, 0, 1981)
Row:996, Read... Event Type: Cyclone, Event Name: NA: (200, 0, 1981)
Row:997, Read... Event Type: Cyclone, Event Name: NA: (15, 0, 1981)
Row:998, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1981)
Row:999, Read... Event Type: Cyclone, Event Name: NA: (500, 625420, 1982)
Row:1000, Read... Event Type: Cyclone, Event Name: NA: (244, 120000, 1982)
Row:1001, Read... Event Type: Cyclone, Event Name: NA: (76, 0, 1983)
Row:1002, Read... Event Type: Storm, Event Name: NA: (24, 0, 1983)
Row:1003, Read... Event Type: Winter, Event Name: NA: (31, 25000, 1983)
Row:1004, Read... Event Type: Cyclone, Event Name: NA: (551, 56000, 1983)
Row:1005, Read... Event Type: Cyclone, Event Name: NA: (100, 510000, 1983)
Row:1006, Read... Event Type: Cyclone, Event Name: NA: (524, 35000, 1984)
Row:1007, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1984)
Row:1008, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1984)
Row:1009, Read... Event Type: Tropical storm, Event Name: NA: (78, 0, 1985)
Row:1010, Read... Event Type: Storm, Event Name: Orilla: (100, 0, 1985)
Row:1011, Read... Event Type: Cyclone, Event Name: NA: (11, 0, 1986)
Row:1012, Read... Event Type: Storm, Event Name: NA: (71, 0, 1986)
Row:1013, Read... Event Type: Tropical storm, Event Name: NA: (13, 272943, 1986)
Row:1014, Read... Event Type: Winter, Event Name: NA: (65, 0, 1986)
Row:1015, Read... Event Type: Winter, Event Name: NA: (230, 0, 1986)
Row:1016, Read... Event Type: Cyclone, Event Name: NA: (38, 0, 1987)
Row:1017, Read... Event Type: Cyclone, Event Name: NA: (25, 0, 1987)
Row:1018, Read... Event Type: Storm, Event Name: NA: (63, 0, 1987)
Row:1019, Read... Event Type: Storm, Event Name: NA: (40, 0, 1987)
Row:1020, Read... Event Type: Cyclone, Event Name: 04B: (74, 13000, 1988)
Row:1021, Read... Event Type: Cyclone, Event Name: NA: (43, 0, 1989)
Row:1022, Read... Event Type: Cyclone, Event Name: NA: (50, 0, 1989)
Row:1023, Read... Event Type: Cyclone, Event Name: 02B: (957, 580000, 1990)
Row:1024, Read... Event Type: Storm, Event Name: NA: (500, 0, 1990)
Row:1025, Read... Event Type: Storm, Event Name: NA: (120, 2200000, 1990)
Row:1026, Read... Event Type: Typhoon, Event Name: NA: (250, 800000, 1990)
Row:1027, Read... Event Type: Storm, Event Name: NA: (0, 1300000, 1990)
Row:1028, Read... Event Type: Storm, Event Name: NA: (16, 0, 1990)
Row:1029, Read... Event Type: Tropical storm, Event Name: 4B: (125, 0, 1991)
Row:1030, Read... Event Type: Cyclone, Event Name: NA: (25, 0, 1992)
Row:1031, Read... Event Type: Storm, Event Name: NA: (60, 0, 1992)
Row:1032, Read... Event Type: Cyclone, Event Name: NA: (61, 100000, 1993)
Row:1033, Read... Event Type: Cyclone, Event Name: NA: (125, 0, 1993)
Row:1034, Read... Event Type: Cyclone, Event Name: NA: (208, 19100, 1994)
Row:1035, Read... Event Type: Tornado, Event Name: NA: (11, 0, 1994)
Row:1036, Read... Event Type: Cyclone, Event Name: NA: (128, 46300, 1995)
Row:1037, Read... Event Type: Cyclone, Event Name: 3: (731, 0, 1996)
Row:1038, Read... Event Type: Cyclone, Event Name: NA: (92, 0, 1996)
Row:1039, Read... Event Type: Cyclone, Event Name: 07B: (708, 570000, 1996)
Row:1040, Read... Event Type: Cyclone, Event Name: NA: (6, 0, 1996)
Row:1041, Read... Event Type: Cyclone, Event Name: NA: (25, 0, 1997)
Row:1042, Read... Event Type: Tornado, Event Name: NA: (250, 0, 1998)
Row:1043, Read... Event Type: Cyclone, Event Name: 03A: (2871, 469000, 1998)
Row:1044, Read... Event Type: Cyclone, Event Name: NA: (250, 0, 1998)
Row:1045, Read... Event Type: Storm, Event Name: NA: (100, 0, 1998)
Row:1046, Read... Event Type: Cyclone, Event Name: O2a: (278, 0, 1999)
Row:1047, Read... Event Type: Cyclone, Event Name: NA: (84, 470000, 1999)
Row:1048, Read... Event Type: Cyclone, Event Name: 05B: (9843, 2500000, 1999)
Row:1049, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 2000)
Row:1050, Read... Event Type: Cyclone, Event Name: 03B: (0, 0, 2000)
Row:1051, Read... Event Type: Storm, Event Name: NA: (21, 0, 2001)
Row:1052, Read... Event Type: Cyclone, Event Name: NA: (78, 0, 2001)
Row:1053, Read... Event Type: Cyclone, Event Name: 01A: (0, 0, 2001)
Row:1054, Read... Event Type: Cyclone, Event Name: NA: (9, 416, 2002)
Row:1055, Read... Event Type: Storm, Event Name: NA: (0, 0, 2002)
Row:1056, Read... Event Type: Storm, Event Name: NA: (11, 0, 2002)
Row:1057, Read... Event Type: Cyclone, Event Name: NA: (124, 0, 2002)
Row:1058, Read... Event Type: Storm, Event Name: NA: (20, 0, 2003)
Row:1059, Read... Event Type: Winter, Event Name: NA: (14, 0, 2003)
Row:1060, Read... Event Type: Cyclone, Event Name: NA: (5, 0, 2003)
Row:1061, Read... Event Type: Storm, Event Name: NA: (30, 16000, 2003)
Row:1062, Read... Event Type: Cyclone, Event Name: NA: (45, 0, 2003)
Row:1063, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 2003)
Row:1064, Read... Event Type: Cyclone, Event Name: NA: (50, 28000, 2003)
Row:1065, Read... Event Type: Storm, Event Name: NA: (18, 0, 2005)
Row:1066, Read... Event Type: Storm, Event Name: NA: (20, 0, 2005)
Row:1067, Read... Event Type: Storm, Event Name: NA: (11, 0, 2005)
Row:1068, Read... Event Type: Storm, Event Name: NA: (33, 0, 2005)
Row:1069, Read... Event Type: Cyclone, Event Name: NA: (300, 0, 1956)
Row:1070, Read... Event Type: Cyclone, Event Name: NA: (1650, 0, 1973)
Row:1071, Read... Event Type: Storm, Event Name: NA: (10, 0, 1974)
Row:1072, Read... Event Type: Storm, Event Name: NA: (25, 0, 1976)
Row:1073, Read... Event Type: Cyclone, Event Name: NA: (1, 0, 1977)
Row:1074, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1980)
Row:1075, Read... Event Type: Cyclone, Event Name: NA: (2, 0, 1982)
Row:1076, Read... Event Type: Storm, Event Name: NA: (0, 0, 1985)
Row:1077, Read... Event Type: Storm, Event Name: NA: (4, 0, 2004)
Row:1078, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 2004)
Row:1079, Read... Event Type: Winter, Event Name: NA: (60, 0, 1972)
Row:1080, Read... Event Type: Storm, Event Name: NA: (14, 0, 1975)
Row:1081, Read... Event Type: Storm, Event Name: NA: (200, 0, 1981)
Row:1082, Read... Event Type: Winter, Event Name: NA: (22, 0, 1991)
Row:1083, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:1084, Read... Event Type: Storm, Event Name: NA: (0, 15000, 1993)
Row:1085, Read... Event Type: Winter, Event Name: NA: (9, 13300, 1996)
Row:1086, Read... Event Type: Storm, Event Name: NA: (3, 0, 2000)
Row:1087, Read... Event Type: Storm, Event Name: NA: (0, 240, 2004)
Row:1088, Read... Event Type: Winter, Event Name: NA: (0, 0, 2005)
Row:1089, Read... Event Type: Storm, Event Name: NA: (10, 0, 1983)
Row:1090, Read... Event Type: Hurricane, Event Name: Charlie: (11, 0, 1986)
Row:1091, Read... Event Type: Winter, Event Name: NA: (0, 0, 1990)
Row:1092, Read... Event Type: Storm, Event Name: Udine: (14, 0, 1991)
Row:1093, Read... Event Type: Storm, Event Name: NA: (0, 0, 2000)
Row:1094, Read... Event Type: Winter, Event Name: NA: (0, 0, 2000)
Row:1095, Read... Event Type: Storm, Event Name: NA: (0, 0, 2005)
Row:1096, Read... Event Type: Winter, Event Name: NA: (5, 0, 1991)
Row:1097, Read... Event Type: Winter, Event Name: NA: (3, 2750, 2000)
Row:1098, Read... Event Type: Storm, Event Name: NA: (80, 0, 1948)
Row:1099, Read... Event Type: Tornado, Event Name: NA: (37, 0, 1965)
Row:1100, Read... Event Type: Cyclone, Event Name: NA: (35, 3200, 1970)
Row:1101, Read... Event Type: Storm, Event Name: NA: (24, 360000, 1973)
Row:1102, Read... Event Type: Storm, Event Name: NA: (14, 0, 1973)
Row:1103, Read... Event Type: Winter, Event Name: NA: (0, 120000, 1973)
Row:1104, Read... Event Type: Tornado, Event Name: NA: (1, 1000, 1978)
Row:1105, Read... Event Type: Storm, Event Name: NA: (0, 78000, 1987)
Row:1106, Read... Event Type: Storm, Event Name: NA: (24, 625700, 1987)
Row:1107, Read... Event Type: Storm, Event Name: NA: (9, 500000, 1987)
Row:1108, Read... Event Type: Storm, Event Name: NA: (8, 625000, 1993)
Row:1109, Read... Event Type: Tornado, Event Name: NA: (3, 0, 1994)
Row:1110, Read... Event Type: Storm, Event Name: NA: (22, 0, 1997)
Row:1111, Read... Event Type: Hurricane, Event Name: NA: (65, 0, 1903)
Row:1112, Read... Event Type: Hurricane, Event Name: NA: (142, 0, 1912)
Row:1113, Read... Event Type: Hurricane, Event Name: NA: (57, 0, 1917)
Row:1114, Read... Event Type: Hurricane, Event Name: NA: (4, 0, 1923)
Row:1115, Read... Event Type: Hurricane, Event Name: NA: (10, 0, 1933)
Row:1116, Read... Event Type: Hurricane, Event Name: NA: (0, 2000, 1935)
Row:1117, Read... Event Type: Hurricane, Event Name: NA: (32, 0, 1944)
Row:1118, Read... Event Type: Hurricane, Event Name: Charlie: (154, 56000, 1951)
Row:1119, Read... Event Type: Hurricane, Event Name: Flora: (11, 11525, 1963)
Row:1120, Read... Event Type: Tropical storm, Event Name: Gilda: (6, 1700, 1973)
Row:1121, Read... Event Type: Hurricane, Event Name: Allen: (6, 64000, 1980)
Row:1122, Read... Event Type: Hurricane, Event Name: Kate: (7, 5200, 1985)
Row:1123, Read... Event Type: Hurricane, Event Name: Gilbert: (49, 1000000, 1988)
Row:1124, Read... Event Type: Storm, Event Name: Gordon: (4, 0, 1994)
Row:1125, Read... Event Type: Tropical storm, Event Name: Marco: (0, 3000, 1996)
Row:1126, Read... Event Type: Hurricane, Event Name: Michelle: (1, 2521900, 2001)
Row:1127, Read... Event Type: Hurricane, Event Name: Lili: (4, 0, 2002)
Row:1128, Read... Event Type: Hurricane, Event Name: Isidore: (0, 0, 2002)
Row:1129, Read... Event Type: Hurricane, Event Name: Charley: (1, 0, 2004)
Row:1130, Read... Event Type: Hurricane, Event Name: Ivan: (15, 595000, 2004)
Row:1131, Read... Event Type: Hurricane, Event Name: Dennis: (1, 0, 2005)

Row:1401, Read... Event Type: Winter, Event Name: NA: (34, 0, 1967)
Row:1402, Read... Event Type: Hurricane, Event Name: Katrina; Beulah; Fern: (77, 184000, 1967)
Row:1403, Read... Event Type: Storm, Event Name: NA: (58, 0, 1969)
Row:1404, Read... Event Type: Tropical storm, Event Name: NA: (17, 0, 1971)
Row:1405, Read... Event Type: Storm, Event Name: NA: (13, 0, 1974)
Row:1406, Read... Event Type: Hurricane, Event Name: Olivia: (29, 0, 1975)
Row:1407, Read... Event Type: Storm, Event Name: NA: (120, 0, 1976)
Row:1408, Read... Event Type: Hurricane, Event Name: Liza: (600, 100000, 1976)
Row:1409, Read... Event Type: Hurricane, Event Name: Anita: (10, 0, 1977)
Row:1410, Read... Event Type: Tropical storm, Event Name: St. Lidia: (100, 40000, 1981)
Row:1411, Read... Event Type: Hurricane, Event Name: Paul: (225, 82400, 1982)
Row:1412, Read... Event Type: Hurricane, Event Name: Tico: (135, 0, 1983)
Row:1413, Read... Event Type: Winter, Event Name: NA: (140, 0, 1983)
Row:1414, Read... Event Type: Tropical storm, Event Name: NA: (4, 0, 1984)
Row:1415, Read... Event Type: Storm, Event Name: NA: (0, 250000, 1988)
Row:1416, Read... Event Type: Hurricane, Event Name: Gilbert: (240, 76000, 1988)
Row:1417, Read... Event Type: Hurricane, Event Name: Debby: (48, 0, 1988)
Row:1418, Read... Event Type: Hurricane, Event Name: Diana: (38, 90700, 1990)
Row:1419, Read... Event Type: Storm, Event Name: NA: (13, 0, 1991)
Row:1420, Read... Event Type: Hurricane, Event Name: Lester: (3, 0, 1992)
Row:1421, Read... Event Type: Hurricane, Event Name: Calvin: (30, 0, 1993)
Row:1422, Read... Event Type: Tropical storm, Event Name: Arlene; Beatriz: (7, 1670000, 1993)
Row:1423, Read... Event Type: Tropical storm, Event Name: Irwin: (0, 0, 1993)
Row:1424, Read... Event Type: Hurricane, Event Name: Lidia: (1, 0, 1993)
Row:1425, Read... Event Type: Storm, Event Name: Felix: (17, 0, 1995)
Row:1426, Read... Event Type: Hurricane, Event Name: Henriette: (0, 0, 1995)
Row:1427, Read... Event Type: Hurricane, Event Name: Ismael: (105, 26000, 1995)
Row:1428, Read... Event Type: Hurricane, Event Name: Opal: (19, 124700, 1995)
Row:1429, Read... Event Type: Hurricane, Event Name: Roxane: (29, 241000, 1995)
Row:1430, Read... Event Type: Hurricane, Event Name: Alma; Boris: (7, 0, 1996)
Row:1431, Read... Event Type: Storm, Event Name: Elida: (6, 0, 1996)
Row:1432, Read... Event Type: Hurricane, Event Name: Fausto: (1, 0, 1996)
Row:1433, Read... Event Type: Storm, Event Name: Olaf: (12, 0, 1997)
Row:1434, Read... Event Type: Hurricane, Event Name: Pauline: (230, 447800, 1997)
Row:1435, Read... Event Type: Hurricane, Event Name: Rick: (0, 0, 1997)
Row:1436, Read... Event Type: Storm, Event Name: NA: (4, 0, 1998)
Row:1437, Read... Event Type: Hurricane, Event Name: Isis: (2, 0, 1998)
Row:1438, Read... Event Type: Storm, Event Name: Madeline & Lester: (240, 0, 1998)
Row:1439, Read... Event Type: Hurricane, Event Name: Greg: (9, 0, 1999)
Row:1440, Read... Event Type: Storm, Event Name: Norman: (8, 0, 2000)
Row:1441, Read... Event Type: Hurricane, Event Name: Keith: (23, 0, 2000)
Row:1442, Read... Event Type: Tropical storm, Event Name: Dalila: (0, 0, 2001)
Row:1443, Read... Event Type: Hurricane, Event Name: Juliette: (3, 400000, 2001)
Row:1444, Read... Event Type: Tropical storm, Event Name: Lorena: (0, 0, 2001)
Row:1445, Read... Event Type: Tropical storm, Event Name: Chantal: (0, 0, 2001)
Row:1446, Read... Event Type: Tropical storm, Event Name: Isidore: (4, 0, 2002)
Row:1447, Read... Event Type: Tropical storm, Event Name: Julio: (0, 0, 2002)
Row:1448, Read... Event Type: Hurricane, Event Name: Kenna: (1, 0, 2002)
Row:1449, Read... Event Type: Hurricane, Event Name: Marty: (2, 100000, 2003)
Row:1450, Read... Event Type: Hurricane, Event Name: Ignacio: (2, 0, 2003)
Row:1451, Read... Event Type: Tropical storm, Event Name: Earl: (20, 0, 2004)
Row:1452, Read... Event Type: Hurricane, Event Name: Emily: (2, 26745, 2005)
Row:1453, Read... Event Type: Tropical storm, Event Name: Bret: (2, 0, 2005)
Row:1454, Read... Event Type: Hurricane, Event Name: Stan: (15, 0, 2005)
Row:1455, Read... Event Type: Hurricane, Event Name: Wilma: (7, 0, 2005)
Row:1456, Read... Event Type: Tropical storm, Event Name: Nina: (5, 6000, 1987)
Row:1457, Read... Event Type: Typhoon, Event Name: Mitag: (0, 0, 2002)
Row:1458, Read... Event Type: Tropical storm, Event Name: Chata'an: (47, 0, 2002)
Row:1459, Read... Event Type: Typhoon, Event Name: Lupit: (0, 0, 2003)
Row:1460, Read... Event Type: Typhoon, Event Name: Sudal: (1, 0, 2004)
Row:1461, Read... Event Type: Storm, Event Name: NA: (3, 0, 1994)
Row:1462, Read... Event Type: Storm, Event Name: NA: (0, 31600, 2000)
Row:1463, Read... Event Type: Winter, Event Name: NA: (36, 0, 1990)
Row:1464, Read... Event Type: Winter, Event Name: NA: (6, 0, 1991)
Row:1465, Read... Event Type: Storm, Event Name: NA: (7, 10000, 1993)
Row:1466, Read... Event Type: Winter, Event Name: NA: (4, 80000, 2000)
Row:1467, Read... Event Type: Winter, Event Name: NA: (19, 0, 2000)
Row:1468, Read... Event Type: Winter, Event Name: NA: (16, 0, 2001)
Row:1469, Read... Event Type: Winter, Event Name: NA: (0, 0, 2002)
Row:1470, Read... Event Type: Winter, Event Name: Dzud: (3, 0, 2002)
Row:1471, Read... Event Type: Hurricane, Event Name: NA: (0, 0, 1928)
Row:1472, Read... Event Type: Hurricane, Event Name: Hugo: (11, 240000, 1989)
Row:1473, Read... Event Type: Hurricane, Event Name: Gustav: (0, 0, 1990)
Row:1474, Read... Event Type: Storm, Event Name: NA: (14, 0, 1996)
Row:1475, Read... Event Type: Cyclone, Event Name: NA: (107, 0, 1956)
Row:1476, Read... Event Type: Storm, Event Name: NA: (3, 0, 1977)
Row:1477, Read... Event Type: Cyclone, Event Name: Angele: (4, 0, 1978)
Row:1478, Read... Event Type: Cyclone, Event Name: Domoina: (109, 75000, 1984)
Row:1479, Read... Event Type: Storm, Event Name: NA: (0, 0, 1985)
Row:1480, Read... Event Type: Cyclone, Event Name: Filao: (100, 0, 1988)
Row:1481, Read... Event Type: Cyclone, Event Name: Nadya: (240, 0, 1994)
Row:1482, Read... Event Type: Cyclone, Event Name: Hudah: (1, 0, 2000)
Row:1483, Read... Event Type: Storm, Event Name: NA: (9, 0, 2000)
Row:1484, Read... Event Type: Storm, Event Name: NA: (5, 0, 2000)
Row:1485, Read... Event Type: Storm, Event Name: NA: (3, 0, 2002)
Row:1486, Read... Event Type: Cyclone, Event Name: Japhet: (11, 0, 2003)
Row:1487, Read... Event Type: Cyclone, Event Name: NA: (600, 0, 1902)
Row:1488, Read... Event Type: Cyclone, Event Name: NA: (6, 0, 1923)
Row:1489, Read... Event Type: Cyclone, Event Name: NA: (2700, 0, 1926)
Row:1490, Read... Event Type: Cyclone, Event Name: NA: (1000, 0, 1936)
Row:1491, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1963)
Row:1492, Read... Event Type: Cyclone, Event Name: NA: (100, 1000, 1965)
Row:1493, Read... Event Type: Cyclone, Event Name: NA: (100, 5000, 1967)
Row:1494, Read... Event Type: Cyclone, Event Name: NA: (178, 3200, 1967)
Row:1495, Read... Event Type: Cyclone, Event Name: NA: (1070, 2500, 1968)
Row:1496, Read... Event Type: Cyclone, Event Name: NA: (200, 0, 1975)
Row:1497, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1978)
Row:1498, Read... Event Type: Cyclone, Event Name: NA: (11, 0, 1982)
Row:1499, Read... Event Type: Cyclone, Event Name: NA: (17, 10000, 1994)
Row:1500, Read... Event Type: Cyclone, Event Name: NA: (236, 688, 2004)
Row:1501, Read... Event Type: Storm, Event Name: NA: (1, 0, 1986)
Row:1502, Read... Event Type: Storm, Event Name: NA: (0, 3600, 1986)
Row:1503, Read... Event Type: Storm, Event Name: NA: (0, 0, 1987)
Row:1504, Read... Event Type: Storm, Event Name: NA: (70, 0, 1988)
Row:1505, Read... Event Type: Storm, Event Name: NA: (6, 0, 1991)
Row:1506, Read... Event Type: Storm, Event Name: NA: (20, 0, 1996)
Row:1507, Read... Event Type: Storm, Event Name: NA: (0, 0, 1972)
Row:1508, Read... Event Type: Winter, Event Name: Capella: (0, 0, 1976)
Row:1509, Read... Event Type: Storm, Event Name: NA: (0, 0, 1984)
Row:1510, Read... Event Type: Storm, Event Name: NA: (0, 0, 1985)
Row:1511, Read... Event Type: Winter, Event Name: NA: (0, 0, 1986)
Row:1512, Read... Event Type: Winter, Event Name: Daria: (21, 1790250, 1990)
Row:1513, Read... Event Type: Storm, Event Name: NA: (2, 0, 1997)
Row:1514, Read... Event Type: Storm, Event Name: Jeanett: (4, 99464, 2002)
Row:1515, Read... Event Type: Storm, Event Name: NA: (0, 0, 2005)
Row:1516, Read... Event Type: Hurricane, Event Name: Alice: (0, 0, 1954)
Row:1517, Read... Event Type: Hurricane, Event Name: Donna: (0, 0, 1960)
Row:1518, Read... Event Type: Hurricane, Event Name: Hugo: (0, 0, 1989)
Row:1519, Read... Event Type: Hurricane, Event Name: Luis: (2, 15151, 1995)
Row:1520, Read... Event Type: Cyclone, Event Name: NA: (3, 0, 1939)
Row:1521, Read... Event Type: Cyclone, Event Name: NA: (2, 0, 1948)
Row:1522, Read... Event Type: Cyclone, Event Name: NA: (2, 0, 1951)
Row:1523, Read... Event Type: Cyclone, Event Name: NA: (1, 0, 1955)
Row:1524, Read... Event Type: Cyclone, Event Name: Beatrice: (1, 700, 1959)
Row:1525, Read... Event Type: Cyclone, Event Name: Brenda: (0, 0, 1968)
Row:1526, Read... Event Type: Cyclone, Event Name: Colleen: (0, 3000, 1969)
Row:1527, Read... Event Type: Tropical storm, Event Name: NA: (3, 0, 1972)
Row:1528, Read... Event Type: Cyclone, Event Name: Alison: (0, 0, 1975)
Row:1529, Read... Event Type: Cyclone, Event Name: David: (0, 0, 1976)
Row:1530, Read... Event Type: Cyclone, Event Name: Cliff: (1, 0, 1981)
Row:1531, Read... Event Type: Cyclone, Event Name: Freda: (0, 0, 1981)
Row:1532, Read... Event Type: Cyclone, Event Name: Gyan: (3, 200, 1981)
Row:1533, Read... Event Type: Cyclone, Event Name: Delilah: (2, 0, 1989)
Row:1534, Read... Event Type: Cyclone, Event Name: Frank: (0, 0, 1999)
Row:1535, Read... Event Type: Tropical storm, Event Name: Erica: (2, 40000, 2003)
Row:1536, Read... Event Type: Cyclone, Event Name: Giselle: (50, 0, 1968)
Row:1537, Read... Event Type: Cyclone, Event Name: Bola: (6, 0, 1988)
Row:1538, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:1539, Read... Event Type: Winter, Event Name: NA: (0, 51500, 1992)
Row:1540, Read... Event Type: Storm, Event Name: Fergus: (1, 0, 1996)
Row:1541, Read... Event Type: Storm, Event Name: Drena: (3, 0, 1997)
Row:1542, Read... Event Type: Storm, Event Name: NA: (0, 0, 2000)
Row:1543, Read... Event Type: Storm, Event Name: NA: (2, 3000, 2003)
Row:1544, Read... Event Type: Tornado, Event Name: NA: (0, 10000, 2005)
Row:1545, Read... Event Type: Hurricane, Event Name: Edith: (35, 380, 1971)
Row:1546, Read... Event Type: Tropical storm, Event Name: Alleta: (71, 356000, 1982)
Row:1547, Read... Event Type: Hurricane, Event Name: Joan: (130, 400000, 1988)
Row:1548, Read... Event Type: Tropical storm, Event Name: Bret: (37, 0, 1993)
Row:1549, Read... Event Type: Hurricane, Event Name: Cesar: (42, 10000, 1996)
Row:1550, Read... Event Type: Hurricane, Event Name: Mitch: (3332, 987700, 1998)
Row:1551, Read... Event Type: Hurricane, Event Name: Keith: (1, 0, 2000)
Row:1552, Read... Event Type: Tornado, Event Name: NA: (1, 0, 2000)
Row:1553, Read... Event Type: Hurricane, Event Name: Michelle: (16, 0, 2001)
Row:1554, Read... Event Type: Hurricane, Event Name: Isidore: (0, 0, 2002)
Row:1555, Read... Event Type: Storm, Event Name: NA: (0, 0, 2004)
Row:1556, Read... Event Type: Hurricane, Event Name: Stan: (3, 0, 2005)
Row:1557, Read... Event Type: Hurricane, Event Name: Beta: (4, 0, 2005)
Row:1558, Read... Event Type: Storm, Event Name: NA: (4, 0, 2002)
Row:1559, Read... Event Type: Storm, Event Name: NA: (100, 0, 1978)
Row:1560, Read... Event Type: Storm, Event Name: NA: (100, 0, 1999)
Row:1561, Read... Event Type: Cyclone, Event Name: NA: (0, 1500, 1959)
Row:1562, Read... Event Type: Cyclone, Event Name: Corine: (0, 41, 1960)
Row:1563, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1968)
Row:1564, Read... Event Type: Cyclone, Event Name: Ofa: (0, 0, 1990)
Row:1565, Read... Event Type: Cyclone, Event Name: Heta: (1, 0, 2004)
Row:1566, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:1567, Read... Event Type: Hurricane, Event Name: NA: (0, 3000, 1993)
Row:1568, Read... Event Type: Storm, Event Name: NA: (0, 0, 2005)
Row:1569, Read... Event Type: Cyclone, Event Name: NA: (105, 0, 1977)
Row:1570, Read... Event Type: Storm, Event Name: NA: (2, 0, 1977)
Row:1571, Read... Event Type: Storm, Event Name: NA: (26, 0, 1981)
Row:1572, Read... Event Type: Tropical storm, Event Name: NA: (7, 0, 2002)
Row:1573, Read... Event Type: Storm, Event Name: NA: (30, 1000, 2003)
Row:1574, Read... Event Type: Storm, Event Name: NA: (0, 0, 1926)
Row:1575, Read... Event Type: Storm, Event Name: NA: (0, 0, 1939)
Row:1576, Read... Event Type: Cyclone, Event Name: NA: (0, 0, 1944)
Row:1577, Read... Event Type: Cyclone, Event Name: NA: (450, 4100, 1964)
Row:1578, Read... Event Type: Cyclone, Event Name: NA: (10000, 0, 1965)
Row:1579, Read... Event Type: Storm, Event Name: NA: (18, 0, 1980)
Row:1580, Read... Event Type: Tornado, Event Name: NA: (56, 0, 1981)
Row:1581, Read... Event Type: Storm, Event Name: NA: (11, 0, 1986)
Row:1582, Read... Event Type: Storm, Event Name: NA: (36, 0, 1988)
Row:1583, Read... Event Type: Cyclone, Event Name: NA: (609, 0, 1993)
Row:1584, Read... Event Type: Storm, Event Name: NA: (10, 0, 1994)
Row:1585, Read... Event Type: Storm, Event Name: NA: (26, 0, 1994)
Row:1586, Read... Event Type: Storm, Event Name: NA: (19, 0, 1997)
Row:1587, Read... Event Type: Storm, Event Name: NA: (22, 0, 1997)
Row:1588, Read... Event Type: Storm, Event Name: NA: (12, 0, 1998)
Row:1589, Read... Event Type: Cyclone, Event Name: 2-A: (231, 0, 1999)
Row:1590, Read... Event Type: Storm, Event Name: NA: (27, 0, 1999)
Row:1591, Read... Event Type: Tornado, Event Name: NA: (4, 0, 2001)
Row:1592, Read... Event Type: Storm, Event Name: NA: (14, 0, 2002)
Row:1593, Read... Event Type: Storm, Event Name: NA: (51, 0, 2003)
Row:1594, Read... Event Type: Winter, Event Name: NA: (58, 0, 2005)
Row:1595, Read... Event Type: Tornado, Event Name: NA: (1, 300, 1964)
Row:1596, Read... Event Type: Hurricane, Event Name: Joan: (30, 60000, 1988)
Row:1597, Read... Event Type: Tornado, Event Name: NA: (12, 0, 1992)
Row:1598, Read... Event Type: Hurricane, Event Name: Mitch: (0, 0, 1998)
Row:1599, Read... Event Type: Cyclone, Event Name: Hannah: (0, 0, 1972)
Row:1600, Read... Event Type: Cyclone, Event Name: Adel: (15, 1500, 1993)
Row:1601, Read... Event Type: Cyclone, Event Name: Justin: (32, 0, 1997)
Row:1602, Read... Event Type: Storm, Event Name: NA: (33, 0, 1997)
Row:1603, Read... Event Type: Storm, Event Name: NA: (0, 0, 2002)
Row:1604, Read... Event Type: Storm, Event Name: NA: (60, 0, 1962)
Row:1605, Read... Event Type: Winter, Event Name: NA: (59, 0, 2002)
Row:1606, Read... Event Type: Typhoon, Event Name: NA: (240, 0, 1905)
Row:1607, Read... Event Type: Typhoon, Event Name: NA: (0, 10000, 1912)
Row:1608, Read... Event Type: Typhoon, Event Name: NA: (0, 0, 1931)
Row:1609, Read... Event Type: Typhoon, Event Name: NA: (147, 0, 1932)
Row:1610, Read... Event Type: Typhoon, Event Name: NA: (0, 0, 1934)
Row:1611, Read... Event Type: Typhoon, Event Name: NA: (85, 0, 1934)
Row:1612, Read... Event Type: Typhoon, Event Name: NA: (517, 0, 1936)
Row:1613, Read... Event Type: Typhoon, Event Name: NA: (231, 0, 1937)
Row:1614, Read... Event Type: Typhoon, Event Name: NA: (305, 0, 1938)
Row:1615, Read... Event Type: Typhoon, Event Name: NA: (73, 0, 1940)
Row:1616, Read... Event Type: Typhoon, Event Name: NA: (260, 0, 1946)
Row:1617, Read... Event Type: Typhoon, Event Name: Rena: (1000, 0, 1949)
Row:1618, Read... Event Type: Typhoon, Event Name: Iris: (156, 0, 1951)
Row:1619, Read... Event Type: Typhoon, Event Name: Wanda: (87, 0, 1951)
Row:1620, Read... Event Type: Typhoon, Event Name: Amy: (569, 0, 1951)
Row:1621, Read... Event Type: Typhoon, Event Name: Emma: (19, 0, 1952)
Row:1622, Read... Event Type: Typhoon, Event Name: Trixy; Wilma: (995, 50000, 1952)
Row:1623, Read... Event Type: Winter, Event Name: NA: (51, 0, 1955)
Row:1624, Read... Event Type: Storm, Event Name: NA: (93, 0, 1955)
Row:1625, Read... Event Type: Storm, Event Name: NA: (50, 0, 1956)
Row:1626, Read... Event Type: Typhoon, Event Name: NA: (79, 0, 1956)
Row:1627, Read... Event Type: Typhoon, Event Name: NA: (89, 0, 1957)
Row:1628, Read... Event Type: Typhoon, Event Name: NA: (29, 0, 1959)
Row:1629, Read... Event Type: Typhoon, Event Name: Karen: (56, 2000, 1960)
Row:1630, Read... Event Type: Tropical storm, Event Name: Lucille: (234, 0, 1960)
Row:1631, Read... Event Type: Typhoon, Event Name: Olive: (100, 0, 1960)
Row:1632, Read... Event Type: Typhoon, Event Name: Kit: (150, 0, 1960)
Row:1633, Read... Event Type: Typhoon, Event Name: Lola: (58, 30000, 1960)
Row:1634, Read... Event Type: Storm, Event Name: NA: (33, 0, 1960)
Row:1635, Read... Event Type: Typhoon, Event Name: NA: (41, 0, 1962)
Row:1636, Read... Event Type: Typhoon, Event Name: NA: (156, 0, 1962)
Row:1637, Read... Event Type: Typhoon, Event Name: Carmen: (1, 0, 1963)
Row:1638, Read... Event Type: Typhoon, Event Name: Winnie (Dading): (56, 8000, 1964)
Row:1639, Read... Event Type: Typhoon, Event Name: Louise: (580, 35000, 1964)
Row:1640, Read... Event Type: Typhoon, Event Name: Aning: (18, 1000, 1966)
Row:1641, Read... Event Type: Typhoon, Event Name: Emma (Welming): (107, 26500, 1967)
Row:1642, Read... Event Type: Typhoon, Event Name: Shirley: (0, 0, 1968)
Row:1643, Read... Event Type: Typhoon, Event Name: Mamie; Nina; Ora: (50, 9600, 1968)
Row:1644, Read... Event Type: Typhoon, Event Name: Viola: (11, 0, 1969)
Row:1645, Read... Event Type: Typhoon, Event Name: Fran & Georgia: (137, 2353, 1970)
Row:1646, Read... Event Type: Typhoon, Event Name: Joan; Kate: (1551, 85500, 1970)
Row:1647, Read... Event Type: Typhoon, Event Name: Patsy: (786, 97656, 1970)
Row:1648, Read... Event Type: Typhoon, Event Name: Oyang: (42, 0, 1970)
Row:1649, Read... Event Type: Typhoon, Event Name: Katy (Pitang): (0, 598, 1970)
Row:1650, Read... Event Type: Typhoon, Event Name: Sening: (575, 12110, 1970)
Row:1651, Read... Event Type: Typhoon, Event Name: Titang: (631, 47397, 1970)
Row:1652, Read... Event Type: Typhoon, Event Name: Yoling: (80, 12785, 1970)
Row:1653, Read... Event Type: Tropical storm, Event Name: Wanda: (95, 700, 1971)
Row:1654, Read... Event Type: Typhoon, Event Name: Dinah (Herming): (57, 590, 1971)
Row:1655, Read... Event Type: Typhoon, Event Name: Elaine: (37, 0, 1971)
Row:1656, Read... Event Type: Tropical storm, Event Name: Gloria: (57, 0, 1971)
Row:1657, Read... Event Type: Typhoon, Event Name: Kit (Asiang): (204, 23000, 1972)
Row:1658, Read... Event Type: Typhoon, Event Name: Ora: (131, 15000, 1972)
Row:1659, Read... Event Type: Typhoon, Event Name: Therese (Undang): (100, 10000, 1972)
Row:1660, Read... Event Type: Typhoon, Event Name: Nora (Luming): (26, 2000, 1973)
Row:1661, Read... Event Type: Typhoon, Event Name: Ruth: (50, 5000, 1973)
Row:1662, Read... Event Type: Tropical storm, Event Name: Vera: (270, 0, 1973)
Row:1663, Read... Event Type: Typhoon, Event Name: Dinah (Bising): (106, 1000, 1974)
Row:1664, Read... Event Type: Typhoon, Event Name: Ivy (Iliang): (21, 2000, 1974)
Row:1665, Read... Event Type: Typhoon, Event Name: Bess (Susang): (26, 9200, 1974)
Row:1666, Read... Event Type: Typhoon, Event Name: Carmen (Tering): (13, 11600, 1974)
Row:1667, Read... Event Type: Typhoon, Event Name: Elaine (Wening): (23, 21000, 1974)
Row:1668, Read... Event Type: Typhoon, Event Name: Gloria (Aning): (3, 3200, 1974)
Row:1669, Read... Event Type: Typhoon, Event Name: Irma (Bidang): (11, 7300, 1974)
Row:1670, Read... Event Type: Typhoon, Event Name: Lola (Auring): (39, 2161, 1975)
Row:1671, Read... Event Type: Typhoon, Event Name: Olga (Didang): (274, 85000, 1976)
Row:1672, Read... Event Type: Typhoon, Event Name: Ruby (Huaning): (3, 84100, 1976)
Row:1673, Read... Event Type: Typhoon, Event Name: Nora (Aring): (110, 9326, 1976)
Row:1674, Read... Event Type: Storm, Event Name: NA: (0, 0, 1977)

Row:2150, Read... Event Type: Storm, Event Name: NA: (12, 290723, 2000)
Row:2151, Read... Event Type: Storm, Event Name: NA: (4, 0, 2000)
Row:2152, Read... Event Type: Storm, Event Name: NA: (7, 0, 2002)
Row:2153, Read... Event Type: Storm, Event Name: Jeanett: (7, 77901, 2002)
Row:2154, Read... Event Type: Storm, Event Name: NA: (5, 500000, 2005)
Row:2155, Read... Event Type: Hurricane, Event Name: NA: (6000, 1000000, 1900)
Row:2156, Read... Event Type: Tornado, Event Name: NA: (98, 0, 1903)
Row:2157, Read... Event Type: Hurricane, Event Name: NA: (164, 0, 1906)
Row:2158, Read... Event Type: Hurricane, Event Name: NA: (134, 0, 1906)
Row:2159, Read... Event Type: Hurricane, Event Name: NA: (350, 0, 1909)
Row:2160, Read... Event Type: Hurricane, Event Name: NA: (41, 0, 1909)
Row:2161, Read... Event Type: Hurricane, Event Name: NA: (30, 0, 1910)
Row:2162, Read... Event Type: Hurricane, Event Name: NA: (525, 60000, 1915)
Row:2163, Read... Event Type: Hurricane, Event Name: NA: (34, 0, 1918)
Row:2164, Read... Event Type: Hurricane, Event Name: NA: (500, 25000, 1919)
Row:2165, Read... Event Type: Tornado, Event Name: NA: (739, 18000, 1925)
Row:2166, Read... Event Type: Hurricane, Event Name: NA: (25, 0, 1926)
Row:2167, Read... Event Type: Hurricane, Event Name: NA: (243, 73000, 1926)
Row:2168, Read... Event Type: Tornado, Event Name: NA: (87, 22000, 1927)
Row:2169, Read... Event Type: Hurricane, Event Name: NA: (1836, 25000, 1928)
Row:2170, Read... Event Type: Hurricane, Event Name: NA: (40, 0, 1932)
Row:2171, Read... Event Type: Hurricane, Event Name: NA: (40, 0, 1933)
Row:2172, Read... Event Type: Hurricane, Event Name: NA: (408, 6000, 1935)
Row:2173, Read... Event Type: Tornado, Event Name: NA: (455, 21000, 1936)
Row:2174, Read... Event Type: Hurricane, Event Name: NA: (600, 306000, 1938)
Row:2175, Read... Event Type: Hurricane, Event Name: NA: (50, 0, 1940)
Row:2176, Read... Event Type: Hurricane, Event Name: NA: (390, 100000, 1944)
Row:2177, Read... Event Type: Storm, Event Name: NA: (43, 0, 1945)
Row:2178, Read... Event Type: Storm, Event Name: NA: (119, 0, 1945)
Row:2179, Read... Event Type: Storm, Event Name: NA: (34, 0, 1945)
Row:2180, Read... Event Type: Storm, Event Name: NA: (33, 0, 1946)
Row:2181, Read... Event Type: Hurricane, Event Name: NA: (51, 100000, 1947)
Row:2182, Read... Event Type: Storm, Event Name: NA: (167, 0, 1947)
Row:2183, Read... Event Type: Storm, Event Name: NA: (35, 0, 1947)
Row:2184, Read... Event Type: Storm, Event Name: NA: (55, 0, 1947)
Row:2185, Read... Event Type: Storm, Event Name: NA: (42, 0, 1948)
Row:2186, Read... Event Type: Storm, Event Name: NA: (59, 0, 1949)
Row:2187, Read... Event Type: Storm, Event Name: NA: (28, 0, 1949)
Row:2188, Read... Event Type: Winter, Event Name: NA: (200, 100000, 1950)
Row:2189, Read... Event Type: Storm, Event Name: NA: (34, 0, 1950)
Row:2190, Read... Event Type: Storm, Event Name: NA: (38, 0, 1950)
Row:2191, Read... Event Type: Storm, Event Name: NA: (229, 0, 1952)
Row:2192, Read... Event Type: Storm, Event Name: NA: (50, 0, 1952)
Row:2193, Read... Event Type: Tornado, Event Name: NA: (92, 52000, 1953)
Row:2194, Read... Event Type: Storm, Event Name: NA: (30, 0, 1953)
Row:2195, Read... Event Type: Storm, Event Name: NA: (41, 0, 1953)
Row:2196, Read... Event Type: Storm, Event Name: NA: (125, 0, 1953)
Row:2197, Read... Event Type: Storm, Event Name: NA: (142, 0, 1953)
Row:2198, Read... Event Type: Storm, Event Name: NA: (38, 0, 1953)
Row:2199, Read... Event Type: Hurricane, Event Name: Carol: (60, 450000, 1954)
Row:2200, Read... Event Type: Hurricane, Event Name: Hazel: (95, 281000, 1954)
Row:2201, Read... Event Type: Hurricane, Event Name: NA: (68, 0, 1954)
Row:2202, Read... Event Type: Hurricane, Event Name: NA: (25, 0, 1955)
Row:2203, Read... Event Type: Hurricane, Event Name: Diane: (184, 832000, 1955)
Row:2204, Read... Event Type: Storm, Event Name: NA: (31, 0, 1955)
Row:2205, Read... Event Type: Storm, Event Name: NA: (125, 0, 1955)
Row:2206, Read... Event Type: Storm, Event Name: NA: (162, 0, 1956)
Row:2207, Read... Event Type: Storm, Event Name: NA: (45, 0, 1956)
Row:2208, Read... Event Type: Storm, Event Name: NA: (25, 0, 1956)
Row:2209, Read... Event Type: Hurricane, Event Name: Audrey: (390, 150000, 1957)
Row:2210, Read... Event Type: Storm, Event Name: NA: (40, 0, 1957)
Row:2211, Read... Event Type: Storm, Event Name: NA: (39, 0, 1957)
Row:2212, Read... Event Type: Storm, Event Name: NA: (56, 0, 1958)
Row:2213, Read... Event Type: Storm, Event Name: NA: (30, 0, 1958)
Row:2214, Read... Event Type: Storm, Event Name: NA: (53, 0, 1958)
Row:2215, Read... Event Type: Storm, Event Name: NA: (71, 0, 1959)
Row:2216, Read... Event Type: Hurricane, Event Name: Donna: (50, 387000, 1960)
Row:2217, Read... Event Type: Hurricane, Event Name: Carla: (46, 408000, 1961)
Row:2218, Read... Event Type: Storm, Event Name: NA: (100, 0, 1961)
Row:2219, Read... Event Type: Winter, Event Name: NA: (33, 200000, 1962)
Row:2220, Read... Event Type: Winter, Event Name: NA: (13, 150000, 1962)
Row:2221, Read... Event Type: Storm, Event Name: NA: (112, 0, 1962)
Row:2222, Read... Event Type: Storm, Event Name: NA: (26, 0, 1963)
Row:2223, Read... Event Type: Tornado, Event Name: NA: (203, 0, 1963)
Row:2224, Read... Event Type: Hurricane, Event Name: NA: (38, 0, 1964)
Row:2225, Read... Event Type: Hurricane, Event Name: Dora: (5, 250000, 1964)
Row:2226, Read... Event Type: Storm, Event Name: NA: (140, 0, 1964)
Row:2227, Read... Event Type: Tornado, Event Name: NA: (257, 190000, 1965)
Row:2228, Read... Event Type: Hurricane, Event Name: Betsy: (299, 1420000, 1965)
Row:2229, Read... Event Type: Tornado, Event Name: NA: (26, 100000, 1966)
Row:2230, Read... Event Type: Storm, Event Name: NA: (166, 0, 1966)
Row:2231, Read... Event Type: Storm, Event Name: NA: (61, 0, 1966)
Row:2232, Read... Event Type: Storm, Event Name: NA: (37, 0, 1966)
Row:2233, Read... Event Type: Hurricane, Event Name: Beulah: (15, 200000, 1967)
Row:2234, Read... Event Type: Storm, Event Name: NA: (80, 0, 1967)
Row:2235, Read... Event Type: Storm, Event Name: NA: (74, 0, 1967)
Row:2236, Read... Event Type: Storm, Event Name: NA: (56, 0, 1967)
Row:2237, Read... Event Type: Storm, Event Name: NA: (50, 0, 1967)
Row:2238, Read... Event Type: Storm, Event Name: NA: (34, 8000, 1968)
Row:2239, Read... Event Type: Storm, Event Name: NA: (55, 0, 1968)
Row:2240, Read... Event Type: Storm, Event Name: NA: (70, 0, 1968)
Row:2241, Read... Event Type: Hurricane, Event Name: Camille: (323, 1420000, 1969)
Row:2242, Read... Event Type: Storm, Event Name: NA: (100, 0, 1969)
Row:2243, Read... Event Type: Storm, Event Name: NA: (31, 0, 1969)
Row:2244, Read... Event Type: Storm, Event Name: NA: (166, 0, 1969)
Row:2245, Read... Event Type: Storm, Event Name: NA: (54, 0, 1969)
Row:2246, Read... Event Type: Storm, Event Name: NA: (41, 0, 1969)
Row:2247, Read... Event Type: Tornado, Event Name: NA: (26, 147000, 1970)
Row:2248, Read... Event Type: Hurricane, Event Name: Celia: (11, 450000, 1970)
Row:2249, Read... Event Type: Storm, Event Name: NA: (37, 0, 1971)
Row:2250, Read... Event Type: Storm, Event Name: NA: (121, 0, 1971)
Row:2251, Read... Event Type: Hurricane, Event Name: Agnes: (122, 2100000, 1972)
Row:2252, Read... Event Type: Hurricane, Event Name: NA: (134, 0, 1972)
Row:2253, Read... Event Type: Storm, Event Name: NA: (2, 50000, 1973)
Row:2254, Read... Event Type: Storm, Event Name: NA: (48, 0, 1973)
Row:2255, Read... Event Type: Tornado, Event Name: NA: (322, 1000000, 1974)
Row:2256, Read... Event Type: Storm, Event Name: NA: (30, 0, 1974)
Row:2257, Read... Event Type: Storm, Event Name: NA: (3, 0, 1975)
Row:2258, Read... Event Type: Hurricane, Event Name: Eloise: (100, 550000, 1975)
Row:2259, Read... Event Type: Storm, Event Name: NA: (50, 0, 1975)
Row:2260, Read... Event Type: Storm, Event Name: NA: (28, 0, 1975)
Row:2261, Read... Event Type: Storm, Event Name: NA: (51, 0, 1977)
Row:2262, Read... Event Type: Storm, Event Name: NA: (40, 0, 1977)
Row:2263, Read... Event Type: Winter, Event Name: NA: (65, 100000, 1978)
Row:2264, Read... Event Type: Storm, Event Name: NA: (100, 0, 1978)
Row:2265, Read... Event Type: Storm, Event Name: NA: (25, 0, 1978)
Row:2266, Read... Event Type: Storm, Event Name: NA: (25, 0, 1978)
Row:2267, Read... Event Type: Tornado, Event Name: NA: (48, 470000, 1979)
Row:2268, Read... Event Type: Hurricane, Event Name: Frederic: (31, 2300000, 1979)
Row:2269, Read... Event Type: Winter, Event Name: NA: (7, 13000, 1979)
Row:2270, Read... Event Type: Storm, Event Name: NA: (100, 0, 1979)
Row:2271, Read... Event Type: Hurricane, Event Name: Allen: (0, 860000, 1980)
Row:2272, Read... Event Type: Hurricane, Event Name: NA: (7, 30000, 1980)
Row:2273, Read... Event Type: Hurricane, Event Name: NA: (5, 20000, 1980)
Row:2274, Read... Event Type: Tornado, Event Name: NA: (20, 400000, 1981)
Row:2275, Read... Event Type: Storm, Event Name: NA: (0, 461000, 1981)
Row:2276, Read... Event Type: Storm, Event Name: NA: (10, 0, 1981)
Row:2277, Read... Event Type: Winter, Event Name: NA: (270, 1000000, 1982)
Row:2278, Read... Event Type: Tornado, Event Name: NA: (46, 500000, 1982)
Row:2279, Read... Event Type: Hurricane, Event Name: Iwa: (3, 230000, 1982)
Row:2280, Read... Event Type: Storm, Event Name: NA: (8, 40000, 1982)
Row:2281, Read... Event Type: Winter, Event Name: NA: (33, 0, 1982)
Row:2282, Read... Event Type: Tornado, Event Name: NA: (20, 100000, 1982)
Row:2283, Read... Event Type: Storm, Event Name: NA: (0, 42000, 1982)
Row:2284, Read... Event Type: Storm, Event Name: NA: (11, 0, 1982)
Row:2285, Read... Event Type: Storm, Event Name: NA: (20, 0, 1982)
Row:2286, Read... Event Type: Winter, Event Name: NA: (28, 200000, 1982)
Row:2287, Read... Event Type: Storm, Event Name: NA: (37, 0, 1982)
Row:2288, Read... Event Type: Winter, Event Name: NA: (19, 525000, 1983)
Row:2289, Read... Event Type: Hurricane, Event Name: Alicia: (18, 1650000, 1983)
Row:2290, Read... Event Type: Winter, Event Name: NA: (500, 1800000, 1983)
Row:2291, Read... Event Type: Storm, Event Name: NA: (5, 130000, 1983)
Row:2292, Read... Event Type: Storm, Event Name: NA: (31, 0, 1983)
Row:2293, Read... Event Type: Storm, Event Name: NA: (56, 0, 1983)
Row:2294, Read... Event Type: Tornado, Event Name: NA: (80, 400000, 1984)
Row:2295, Read... Event Type: Tornado, Event Name: NA: (600, 277000, 1984)
Row:2296, Read... Event Type: Storm, Event Name: NA: (328, 1000000, 1984)
Row:2297, Read... Event Type: Storm, Event Name: NA: (0, 30000, 1984)
Row:2298, Read... Event Type: Storm, Event Name: NA: (11, 20000, 1984)
Row:2299, Read... Event Type: Storm, Event Name: NA: (9, 17000, 1984)
Row:2300, Read... Event Type: Storm, Event Name: NA: (0, 35000, 1984)
Row:2301, Read... Event Type: Storm, Event Name: NA: (0, 115000, 1984)
Row:2302, Read... Event Type: Storm, Event Name: NA: (33, 0, 1984)
Row:2303, Read... Event Type: Storm, Event Name: NA: (29, 0, 1984)
Row:2304, Read... Event Type: Storm, Event Name: NA: (27, 0, 1984)
Row:2305, Read... Event Type: Hurricane, Event Name: Kate: (5, 0, 1985)
Row:2306, Read... Event Type: Tornado, Event Name: NA: (104, 231600, 1985)
Row:2307, Read... Event Type: Hurricane, Event Name: Elena: (4, 1100000, 1985)
Row:2308, Read... Event Type: Hurricane, Event Name: Gloria: (15, 900000, 1985)
Row:2309, Read... Event Type: Hurricane, Event Name: Juan: (12, 1500000, 1985)
Row:2310, Read... Event Type: Storm, Event Name: NA: (33, 0, 1985)
Row:2311, Read... Event Type: Storm, Event Name: NA: (49, 340000, 1985)
Row:2312, Read... Event Type: Winter, Event Name: NA: (145, 400000, 1985)
Row:2313, Read... Event Type: Storm, Event Name: NA: (0, 200000, 1985)
Row:2314, Read... Event Type: Winter, Event Name: NA: (0, 10000, 1985)
Row:2315, Read... Event Type: Storm, Event Name: NA: (0, 40000, 1986)
Row:2316, Read... Event Type: Storm, Event Name: NA: (1, 30000, 1986)
Row:2317, Read... Event Type: Tornado, Event Name: NA: (29, 5000, 1987)
Row:2318, Read... Event Type: Winter, Event Name: NA: (61, 115000, 1987)
Row:2319, Read... Event Type: Winter, Event Name: NA: (19, 16000, 1987)
Row:2320, Read... Event Type: Storm, Event Name: NA: (0, 58000, 1987)
Row:2321, Read... Event Type: Storm, Event Name: NA: (0, 10000, 1987)
Row:2322, Read... Event Type: Winter, Event Name: NA: (35, 0, 1987)
Row:2323, Read... Event Type: Tornado, Event Name: NA: (7, 36500, 1987)
Row:2324, Read... Event Type: Hurricane, Event Name: NA: (0, 55000, 1987)
Row:2325, Read... Event Type: Storm, Event Name: NA: (26, 46000, 1988)
Row:2326, Read... Event Type: Storm, Event Name: NA: (0, 35000, 1988)
Row:2327, Read... Event Type: Storm, Event Name: NA: (0, 25000, 1988)
Row:2328, Read... Event Type: Storm, Event Name: NA: (0, 36000, 1988)
Row:2329, Read... Event Type: Storm, Event Name: NA: (0, 90000, 1988)
Row:2330, Read... Event Type: Storm, Event Name: NA: (1, 130000, 1988)
Row:2331, Read... Event Type: Storm, Event Name: NA: (0, 75000, 1988)
Row:2332, Read... Event Type: Storm, Event Name: NA: (0, 33000, 1988)
Row:2333, Read... Event Type: Storm, Event Name: NA: (0, 35000, 1988)
Row:2334, Read... Event Type: Storm, Event Name: NA: (0, 130000, 1988)
Row:2335, Read... Event Type: Storm, Event Name: NA: (0, 20000, 1988)
Row:2336, Read... Event Type: Storm, Event Name: NA: (0, 37000, 1988)
Row:2337, Read... Event Type: Storm, Event Name: NA: (0, 75000, 1988)
Row:2338, Read... Event Type: Tropical storm, Event Name: Keith: (0, 30000, 1988)
Row:2339, Read... Event Type: Storm, Event Name: NA: (0, 95000, 1988)
Row:2340, Read... Event Type: Storm, Event Name: NA: (0, 25000, 1988)
Row:2341, Read... Event Type: Storm, Event Name: NA: (0, 50000, 1988)
Row:2342, Read... Event Type: Storm, Event Name: NA: (0, 25000, 1988)
Row:2343, Read... Event Type: Hurricane, Event Name: Hugo: (51, 7000000, 1989)
Row:2344, Read... Event Type: Storm, Event Name: NA: (23, 380000, 1989)
Row:2345, Read... Event Type: Tornado, Event Name: NA: (27, 225000, 1989)
Row:2346, Read... Event Type: Storm, Event Name: NA: (0, 95000, 1989)
Row:2347, Read... Event Type: Storm, Event Name: NA: (0, 60000, 1989)
Row:2348, Read... Event Type: Storm, Event Name: NA: (0, 95000, 1989)
Row:2349, Read... Event Type: Storm, Event Name: NA: (0, 100000, 1989)
Row:2350, Read... Event Type: Storm, Event Name: NA: (5, 115000, 1989)
Row:2351, Read... Event Type: Storm, Event Name: NA: (0, 60000, 1989)
Row:2352, Read... Event Type: Hurricane, Event Name: Allison: (0, 45000, 1989)
Row:2353, Read... Event Type: Storm, Event Name: NA: (0, 45000, 1989)
Row:2354, Read... Event Type: Storm, Event Name: NA: (0, 92000, 1989)
Row:2355, Read... Event Type: Hurricane, Event Name: Chantal: (0, 80000, 1989)
Row:2356, Read... Event Type: Storm, Event Name: NA: (0, 50000, 1989)
Row:2357, Read... Event Type: Hurricane, Event Name: Jerry: (2, 35000, 1989)
Row:2358, Read... Event Type: Storm, Event Name: NA: (0, 55000, 1989)
Row:2359, Read... Event Type: Storm, Event Name: NA: (15, 100000, 1990)
Row:2360, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:2361, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:2362, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:2363, Read... Event Type: Storm, Event Name: NA: (13, 0, 1990)
Row:2364, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:2365, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:2366, Read... Event Type: Storm, Event Name: NA: (10, 0, 1990)
Row:2367, Read... Event Type: Storm, Event Name: NA: (0, 0, 1990)
Row:2368, Read... Event Type: Storm, Event Name: NA: (21, 45000, 1990)
Row:2369, Read... Event Type: Storm, Event Name: NA: (0, 625000, 1990)
Row:2370, Read... Event Type: Storm, Event Name: NA: (24, 160000, 1990)
Row:2371, Read... Event Type: Storm, Event Name: NA: (0, 50000, 1990)
Row:2372, Read... Event Type: Storm, Event Name: NA: (0, 35000, 1990)
Row:2373, Read... Event Type: Winter, Event Name: NA: (79, 400000, 1990)
Row:2374, Read... Event Type: Hurricane, Event Name: Bob: (13, 780000, 1991)
Row:2375, Read... Event Type: Storm, Event Name: NA: (17, 30000, 1991)
Row:2376, Read... Event Type: Storm, Event Name: NA: (15, 0, 1991)
Row:2377, Read... Event Type: Storm, Event Name: Bob: (2, 0, 1991)
Row:2378, Read... Event Type: Winter, Event Name: NA: (0, 0, 1991)
Row:2379, Read... Event Type: Storm, Event Name: NA: (0, 0, 1991)
Row:2380, Read... Event Type: Storm, Event Name: NA: (0, 0, 1991)
Row:2381, Read... Event Type: Winter, Event Name: NA: (0, 30000, 1991)
Row:2382, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1991)
Row:2383, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1991)
Row:2384, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1991)
Row:2385, Read... Event Type: Storm, Event Name: NA: (0, 0, 1991)
Row:2386, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1991)
Row:2387, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1991)
Row:2388, Read... Event Type: Hurricane, Event Name: Grace: (2, 0, 1991)
Row:2389, Read... Event Type: Tornado, Event Name: NA: (0, 0, 1991)
Row:2390, Read... Event Type: Hurricane, Event Name: Andrew: (44, 26500000, 1992)
Row:2391, Read... Event Type: Hurricane, Event Name: Axel: (0, 0, 1992)
Row:2392, Read... Event Type: Storm, Event Name: NA: (8, 0, 1992)
Row:2393, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2394, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2395, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2396, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2397, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2398, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2399, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2400, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2401, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2402, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2403, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2404, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2405, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2406, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2407, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2408, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2409, Read... Event Type: Hurricane, Event Name: Iniki: (4, 5000000, 1992)
Row:2410, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2411, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2412, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2413, Read... Event Type: Storm, Event Name: NA: (27, 0, 1992)
Row:2414, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2415, Read... Event Type: Storm, Event Name: NA: (0, 0, 1992)
Row:2416, Read... Event Type: Winter, Event Name: NA: (12, 0, 1992)
Row:2417, Read... Event Type: Storm, Event Name: NA: (0, 0, 1993)
Row:2418, Read... Event Type: Tornado, Event Name: NA: (7, 125000, 1993)
Row:2419, Read... Event Type: Storm, Event Name: NA: (4, 30000, 1993)
Row:2420, Read... Event Type: Hurricane, Event Name: Emily: (1, 30000, 1993)
Row:2421, Read... Event Type: Tornado, Event Name: NA: (3, 75000, 1993)
Row:2422, Read... Event Type: Winter, Event Name: NA: (0, 100000, 1993)
Row:2423, Read... Event Type: Storm, Event Name: NA: (241, 1000000, 1993)
Row:2424, Read... Event Type: Storm, Event Name: NA: (0, 125000, 1993)
Row:2425, Read... Event Type: Storm, Event Name: NA: (0, 35000, 1993)
Row:2426, Read... Event Type: Tornado, Event Name: NA: (0, 65000, 1993)
Row:2427, Read... Event Type: Storm, Event Name: NA: (0, 60000, 1993)
Row:2428, Read... Event Type: Hurricane, Event Name: NA: (0, 45000, 1993)
Row:2429, Read... Event Type: Storm, Event Name: NA: (0, 40000, 1993)
Row:2430, Read... Event Type: Hurricane, Event Name: Wylie: (3, 165000, 1993)
Row:2431, Read... Event Type: Storm, Event Name: NA: (0, 150000, 1993)
Row:2432, Read... Event Type: Tornado, Event Name: NA: (3, 220000, 1993)

Okay, once we can read the file, we need to:
1. consider only records that are in range, i.e.: ``start_year <= year <= end_year``
2. for each year in range:
    * calculate the total for num_killed
    * calculate the total for damage
    * keep track of largest num_killed
    * keep track of largest damage

And, we need a data structure to keep track of all this.

We already learned how to do this in OA2801...

In [4]:
def calc_disasters2(infile,start_year,end_year,isVerbose = True):
    '''function to calculate summary disaster statistics in range [start_year,end_year]
       for data in given filename.'''

    if isVerbose:
        print("Calculating statistics in file %s for range [%d,%d]." % 
              (infile, start_year, end_year))

    # we will use a dictionary to keep track of our statistics
    #   key is the year
    #   value is a list of [num_events,total_killed, total_damage, most_killed, most_damage]
    # let's initialize the dictionary
    stats_dict = {}
    for year in range(start_year,end_year+1):
        stats_dict[year] = [0,0,0,0,0] # Assigning the empty list 
        
        
    # open the file and get a "handle" on it
    file = open(infile, "r")

    # index to identify the first line or first apparence of a year
    i=0

    # looping throught the whole file once
    for line in file:

        # remove the special characters
        line = line.strip()  # string method that removes whitespace and special chars

        # skip any line with first character # 
        if line[0] == '#':
            continue

        # parse by comma
        values = line.split(',')
        # print(values)  # uncomment if you really want to check this...

        # give all tokens names to work with
        # type          - the type of disaster  -->typ
        # event_name    - the name of the disaster (if it exists)
        # num_killed    - the number of fatalities
        # damage        - total damage (in adjusted USD)
        # start_year    - year in which the disaster began  ---> year
        # start_month   - month in which the disaster began
        # start_day     - day of month on which the disaster began
        # iso           - three-letter country code
        # country_name  - full name
        # region        - global region
        # continent     - continent
        
        # for text data, strip() removes leading/trailing blanks
        # for numerical data, convert to int if a digit, otherwise use 0
        
        typ = values[0].strip()             
        event_name = values[1].strip()
        num_killed = 0 if not values[2].isdigit() else int(values[2]) #.isdigit determines 
        damage = 0 if not values[3].isdigit() else int(values[3])
        year = 0 if not values[4].isdigit() else int(values[4])
        start_month = 0 if not values[5].isdigit() else int(values[5])
        start_day = 0 if not values[6].isdigit() else int(values[6])
        iso = values[7].strip()
        country_name = values[8].strip()
        region = values[9].strip()
        continent = values[10].strip()
        
        if start_year <= year <= end_year:

            if isVerbose:
                print('Read...%s/%s: %d, %d, %d' % (typ,event_name,num_killed,damage,year))
            
            stats_dict[year][0] += 1
            stats_dict[year][1] += num_killed
            stats_dict[year][2] += damage
            stats_dict[year][3] = max(stats_dict[year][3],num_killed)
            stats_dict[year][4] = max(stats_dict[year][4],damage)
    # end of for-loop
    
    return stats_dict

In [5]:
calc_disasters2('wind_disasters.csv',1955,1960,False)

{1955: [19, 3895, 877000, 1500, 832000],
 1956: [14, 3114, 0, 2000, 0],
 1957: [9, 1139, 150000, 390, 150000],
 1958: [13, 2620, 0, 1175, 0],
 1959: [16, 9695, 672200, 5098, 600000],
 1960: [20, 9164, 454041, 5149, 387000]}

### Creating and using a customized Python class

Okay, so

Consider the following class definition...

In [6]:
# The following class is complete and SHOULD NOT BE CHANGED
# without prior consent of the instructor.
class DisasterStat:
    '''Simple class to keep disaster statistics for a single year'''

    def __init__(self,year):
        self.year = year
        self.count = 0
        self.deaths = 0
        self.damage = 0
        self.max_deaths = 0
        self.max_damage = 0

    def add_disaster(self, deaths, damage):
        self.count += 1
        self.deaths += deaths
        self.damage += damage
        if deaths > self.max_deaths: # Deaths 
            self.max_deaths = deaths
        if damage > self.max_damage: # Damage
            self.max_damage = damage

    def __str__(self):
        return '%s,%d,%d,%d,%d,%d' % (self.year,self.count,self.deaths,self.damage,self.max_deaths,self.max_damage)

# end of class DisasterStat

### For reflection 

#### 1. Do the final values for this DisasterStat make sense to you?

#### 2. How would you use the DisasterStat class to answer the lab questions for a *single year*?

#### 3. How would you use the DisasterState class to answer the lab questions for a *range of years*?

Okay, let's try it...

In [7]:
def calc_disasters3(infile,start_year,end_year,isVerbose = True):
    '''function to calculate summary disaster statistics in range [start_year,end_year]
       for data in given filename.'''

    if isVerbose:
        print("Calculating statistics in file %s for range [%d,%d]." % 
              (infile, start_year, end_year))

    # we will use a dictionary to keep track of our statistics
    #   key is the year
    #   value is a list of [num_events,total_killed, total_damage, most_killed, most_damage]
    # let's initialize the dictionary
    stats_dict = {}
    for year in range(start_year,end_year+1):
        stats_dict[year] = DisasterStat(year) # Assigning the empty list 
        
        
    # open the file and get a "handle" on it
    file = open(infile, "r")

    # index to identify the first line or first apparence of a year
    i=0

    # looping throught the whole file once
    for line in file:

        # remove the special characters
        line = line.strip()  # string method that removes whitespace and special chars

        # skip any line with first character # 
        if line[0] == '#':
            continue

        # parse by comma
        values = line.split(',')
        # print(values)  # uncomment if you really want to check this...

        # give all tokens names to work with
        # type          - the type of disaster  -->typ
        # event_name    - the name of the disaster (if it exists)
        # num_killed    - the number of fatalities
        # damage        - total damage (in adjusted USD)
        # start_year    - year in which the disaster began  ---> year
        # start_month   - month in which the disaster began
        # start_day     - day of month on which the disaster began
        # iso           - three-letter country code
        # country_name  - full name
        # region        - global region
        # continent     - continent
        
        # for text data, strip() removes leading/trailing blanks
        # for numerical data, convert to int if a digit, otherwise use 0
        
        typ = values[0].strip()             
        event_name = values[1].strip()
        num_killed = 0 if not values[2].isdigit() else int(values[2]) #.isdigit determines 
        damage = 0 if not values[3].isdigit() else int(values[3])
        year = 0 if not values[4].isdigit() else int(values[4])
        start_month = 0 if not values[5].isdigit() else int(values[5])
        start_day = 0 if not values[6].isdigit() else int(values[6])
        iso = values[7].strip()
        country_name = values[8].strip()
        region = values[9].strip()
        continent = values[10].strip()
        
        if start_year <= year <= end_year:

            if isVerbose:
                print('Read...%s/%s: %d, %d, %d' % (typ,event_name,num_killed,damage,year))
            
#             stats_dict[year][0] += 1
#             stats_dict[year][1] += num_killed
#             stats_dict[year][2] += damage
#             stats_dict[year][3] = max(stats_dict[year][3],num_killed)
#             stats_dict[year][4] = max(stats_dict[year][4],damage)
            stats_dict[year].add_disaster(num_killed,damage)


        
    # end of for-loop
    
    return stats_dict

In [8]:
mydict = calc_disasters3('wind_disasters.csv',1955,1960,False)

In [9]:
for year in mydict:
    print(mydict[year])

1955,19,3895,877000,1500,832000
1956,14,3114,0,2000,0
1957,9,1139,150000,390,150000
1958,13,2620,0,1175,0
1959,16,9695,672200,5098,600000
1960,20,9164,454041,5149,387000

## Conclusion

* One of the simplest uses of objects is as customized data containers.
* Building such objects can make calculations easier.
* What 'needs' to be included in the class depends on the computational task and the preferences of the designer.
* Becoming proficient in this is an essential topic in software design, much of which is beyond the scope of this class.
* But you should be familiar with the basics.
* We will practice more...